{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/pages/connect.css') }}">

{% endblock %}

{% block body %}

    <!-- >>>>>>>>>>>>>>>> Breadcumb Area Start <<<<<<<<<<<<<<<< -->
    <section class="breadcumb_area background-overlay" style="background-image: url(img/people.jpg);">
        <div id="container" class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcumb_section text-center">
                        <!-- Breadcumb Page Title -->
                        <div class="page_title">
                            <h4>Let's Connect</h4>
                        </div>
                        <!-- Breadcumb Page Pagination -->
                        <ol class="breadcrumb d-inline-block">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Let's Connect</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- >>>>>>>>>>>>>>>> Breadcumb Area End <<<<<<<<<<<<<<<< -->


    <!-- >>>>>>>>>>>>>>>> Open an office Area start <<<<<<<<<<<<<<<< -->

    <section class="invest_wisely_section product_landing key_features_area section_padding_100 grey-background">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Start -->
                    <div class=" invest_wisely_title section_heading wow fadeInUp text-center" style="visibility: visible; animation-name: fadeInUp;">
                        <h2 class="section_title_text">Open An Office</h2>
                    </div>
                </div>
            </div>





            <div class="row card-3" style="background-color: #fff; border-radius: 10px;">
                <div class="col-12 built_by_advisors">
                    <h4 class="text-center">SRP... Built By Advisors</h4>

                    <p>Reinventing Non-client facing activities waste a tremendous amount of time for advisors.
                        These are activities that hold back growth and destroy margins.</p>

                    <p style="padding-bottom: 15px">SRP’s Operations team is designed to eliminate or co-source a large percentage of those
                        tasks, allowing you to focus on growth opportunities and increase the value of your
                        practice. Leverage our time and experience.</p>
                </div>

            </div>

            <div class="row">
                <div class="col-12 item" >
                    <div class="key_features_text">

                        <div class="single_part_content mt15">
                            <h4>SRP Operations ...put your Clients on AutoPilot</h4>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Quarterbacks comprehensive service plan management</h6>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">Schedule &amp; manage service plan deliverables for investment committee and plan review meetings, meeting minute tracking, investment change management</h6>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Participant education, newsletters, enrollment events</h6>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Plan fiduciary &amp; governance compliance</h6>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Audit of plan’s fiduciary &amp; governance documents</h6>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Annual audit, IRS and DOL audit support</h6>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Maintain cloud-based client portal for plan fiduciaries</h6>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Vendor relationship management (recordkeeper, TPA), including plan
                                installations, conversions and general plan/participant service items</h6>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Plan &amp; participant management support</h6>

                            <br>

                        </div>

                        <div class="single_part_content mt15">
                            <h4>Expand Your Pipeline</h4>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Social Media Campaigns</h6>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Speaking Engagements</h6>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Monthly Webinars</h6>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Monthly Newsletters</h6>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Telemarketing</h6>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">RFP Desk</h6>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Mailing Campaigns</h6>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Team Selling</h6>

                        </div>

                        <div class="single_part_content mt15">
                            <h4>Consulting – Constantly evolving proprietary solutions to help advisors win and retain
                                business.</h4>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Small plan solutions</h6>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Fiduciary Risk Management System</h6>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Investment Due Diligenceg</h6>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Participant Outcomes</h6>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Total Retirement Outcome Analyzer</h6>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Total Retirement Solutions</h6>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Institutional Services</h6>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">SRP Wealth</h6>



                        </div>
                        <div class="single_part_content mt15">
                            <h4>Technology... Evolved</h4>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Comprehensive Content Library</h6>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Comprehensive Video Library</h6>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Clients Sites &amp; Fiduciary Archives</h6>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Fiduciary Education Center</h6>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Financial Wellness</h6>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">CRM, Exchange, RPAG, MPi, PlanTools, TDF Analyzer, etc…</h6>
                            <h6 class="wow fadeInUp key_step_text" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">CyberSecurity</h6>


                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- >>>>>>>>>>>>>>>> Open an office Area end <<<<<<<<<<<<<<<< -->




    <!-- >>>>>>>>>>>>>>>> Test Area <<<<<<<<<<<<<<<< -->

    {#<div class="container">#}
        {#<div class="row">#}

            {#<div class="col-lg-3 col-md-3 col-xs-12 small_card card-3">#}

            {#</div>#}

            {#<div class="col-lg-3 col-md-3 col-xs-12 small_card card-3">#}

            {#</div>#}

            {#<div class="col-lg-3 col-md-3 col-xs-12 small_card card-3">#}

            {#</div>#}

            {#<div class="col-lg-3 col-md-3 col-xs-12 small_card card-3">#}

            {#</div>#}


        {#</div>#}

        {#<div class="row">#}

            {#<div class="col-3 small_card">#}

            {#</div>#}

            {#<div class="col-3 small_card">#}

            {#</div>#}

            {#<div class="col-3 small_card">#}

            {#</div>#}

            {#<div class="col-3 small_card">#}

            {#</div>#}


        {#</div>#}


    {#</div>#}



{% endblock %}