<footer class="footer_area inline-style">
    <!-- Bottom Footer Area Start -->
    <div class="footer_bottom_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="social_links_area">
                        <a href="#"><i class="ion-social-youtube" aria-hidden="true"></i> | Youtube</a>
                        <a href="www.linkedin.com/company/strategic-retirement-partners"><i class="ion-social-linkedin" aria-hidden="true"></i> | Instagram</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-">

                </div>

            </div>

        </div>
    </div>
</footer>