{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/rangeslider.css') }}">
    <link rel="stylesheet" href="{{ asset('css/pages/technology.css') }}">
{% endblock %}


{% block body %}

    <!-- >>>>>>>>>>>>>>>> Breadcumb Area Start <<<<<<<<<<<<<<<< -->
    <section class="breadcumb_area background-overlay" style="background-image: url(img/technology.jpg);">
        <div id="container" class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcumb_section text-center">
                        <!-- Breadcumb Page Title -->
                        <div class="page_title">
                            <h4>How We Do It</h4>
                        </div>
                        <!-- Breadcumb Page Pagination -->
                        <ol class="breadcrumb d-inline-block">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">How We Do It</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- >>>>>>>>>>>>>>>> Breadcumb Area End <<<<<<<<<<<<<<<< -->


    <!-- >>>>>>>>>>>>>>>> Invest Wisely Area Start <<<<<<<<<<<<<<<< -->
    <section class="invest_wisely_section product_landing key_features_area section_padding_100 grey-background">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Start -->
                    <div class=" invest_wisely_title section_heading wow fadeInUp text-center">
                        <h2 class="section_title_text">Invest Wisely</h2>
                        <p class="technology_section_sub_heading">The primary function of the SRP advisory process is to provide ongoing due diligence to
                            maximize protection, enhance opportunities for employees, and ensure a best practices
                            retirement plan. We focus on <span class="srpblue fw500">three key</span>  steps:</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="row">
                        <div class="col-12">
                            <strong>
                                <p class="text-center technology_img_text">
                                    Monitor
                                </p>
                            </strong>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <img class="technology_img" src="img/technology/technology_1.png">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="row">
                        <div class="col-12">
                            <p class="text-center technology_img_text">
                                Educate
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <img class="technology_img" src="img/technology/technology_2.png">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.3s" >
                    <div class="row">
                        <div class="col-12">
                            <p class="text-center technology_img_text">
                                Verify
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <img class="technology_img" src="img/technology/technology_3.png">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt45">
                <div class="col-12 wow fadeInUp" data-wow-delay="0.4s">
                    <p class="text-center technology_section_sub_heading" >You can rely on our due diligence process to increase investment opportunities for
                        employees and address fiduciary liability concerns. Investment analysis and advice is
                        the cornerstone of our practice.
                    </p>
                </div>
            </div>

        </div>
    </section>
    <!-- >>>>>>>>>>>>>>>> Invest Wisely Area End <<<<<<<<<<<<<<<< -->


    <!-- >>>>>>>>>>>>>>>> Productive Relationships Area Start <<<<<<<<<<<<<<<< -->
    <section class="productive_relationships_section product_landing key_features_area section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Start -->
                    <div class="productive_relationships_title section_heading wow fadeInUp text-center">
                        <h2 class="section_title_text">Productive Relationships</h2>
                    </div>
                </div>
            </div>

            <div class="single_part_content mt15 national_vendor_relationships wow fadeInUp">
                <h4 class="text-center">National Vendor Relationships</h4>
                <p class="text-center">Strategic Retirement Partners recognizes the importance of fee analysis and vendor reviews. Regular
                    RFP/Benchmarking reviews help to keep your plan competitive with current, live bid, pricing and the
                    latest service offerings from your recordkeeper.</p>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Service Details Content Area -->
                    <div class="service_details_content">
                        <!-- Service Details Text Area -->
                        <div class="single_part_content mt15 wow fadeInUp" data-wow-delay="0.2s" data-wow-offset="100">
                            <h4 class="text-center">Benchmarking</h4>
                            <p class="text-center">Strategic Retirement Partners recognizes the importance of fee analysis and vendor
                                reviews. Regular RFP/Benchmarking reviews help to keep your plan competitive with
                                current, live bid, pricing and the latest service offerings from your recordkeeper.</p>
                            <p class="text-center srpblue">Take a look at our benchmarking procedure</p>
                        </div>

                        <div class='ui mx-auto'>
                            <div id="ui-1" class='ui_box ui_box_hover wow fadeInUp' data-wow-delay="0.2s" data-wow-offset="150">
                                <div class='ui_box__inner'>
                                    <h1 class="text-center">Phase 1</h1>
                                    <hr>
                                    <p>
                                        Initial discussion and selection of service providers
                                    </p>
                                    <p>
                                        Information gathering
                                    </p>
                                    <p>
                                        RFP questionnaire fulfilled
                                    </p>
                                    <p>
                                        Initial analysis create & presented
                                    </p>
                                </div>

                            </div>
                            <div id="ui-2" class='ui_box wow fadeInUp' data-wow-delay="0.4s" data-wow-offset="150">
                                <div class='ui_box__inner'>
                                    <h1 class="text-center">Phase 2</h1>
                                    <hr>
                                    <p>
                                        Renegotiation of fees/services from incumbent presented
                                    </p>
                                    <p>
                                        If accepted, internal conversation begins
                                    </p>
                                    <p>
                                        Semi-finalists selected
                                    </p>
                                </div>

                            </div>
                            <div id="ui-3" class='ui_box wow fadeInUp' data-wow-delay="0.6s" data-wow-offset="150">
                                <div class='ui_box__inner'>
                                    <h1 class="text-center">Phase 3</h1>
                                    <hr>
                                    <p>
                                        Final presentation and decision
                                    </p>
                                    <p>
                                        Implementation Meeting with winning service provider
                                    </p>
                                    <p>
                                        Begin conversion process
                                    </p>
                                </div>

                            </div>
                        </div>

                        <div class="single_part_content mt15 rangeslider-container mx-auto">
                            <div class="mx-auto">
                                <input type="range" min="1" max="600" value="0"/>
                                <div class="row mt15 benchmark_slider_text">
                                    <div class="col-4 text-center">
                                        <span> Week 1</span>
                                    </div>
                                    <div class="col-4 text-center">
                                        <span> Week 4</span>
                                    </div>
                                    <div class="col-4 text-center">
                                        <span> Week 8</span>
                                    </div>

                                </div>

                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>

        </div>
    </section>
    <!-- >>>>>>>>>>>>>>>> Productive Relationships Area End <<<<<<<<<<<<<<<< -->


    <!-- >>>>>>>>>>>>>>>> Service Details Area Start <<<<<<<<<<<<<<<< -->
    <section class="key_features_area section_padding_100 grey-background">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Start -->
                    <div class="section_heading wow fadeInUp text-center">
                        <h2 class="section_title_text">Risk Management</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 item">
                    <div class="key_features_text">

                        <div class="single_part_content mt15">
                            <h4 class="text-center wow fadeInUp" data-wow-delay="0.2s" data-wow-offset="50">ERISA Fiduciary Training</h4>
                            <p class="text-center wow fadeInUp" data-wow-delay="0.2s" data-wow-offset="50">Preparing new and existing fiduciaries for their duties has long been a concern for plan
                                sponsors. According to the Profit Sharing Council of America, one of the first things
                                the
                                Department of Labor asks when auditing a company is if its fiduciaries have received
                                training. ERISA attorneys and retirement plan advisors strongly recommend that
                                retirement plan fiduciaries have ongoing fiduciary training.</p>
                            <br>

                            <p class="text-center wow fadeInUp" data-wow-delay="0.2s" data-wow-offset="50">Our comprehensive online fiduciary training program, developed in conjunction with
                                Wagner Law Group, for retirement plan committee members. The goals and objectives of
                                this program are:</p>



                            <div class="row mt30">

                                <div class="col-6  risk_management_container">
                                    <div class="vertical-center text-center training_objectives">
                                        <h6 class="wow fadeInUp " data-wow-delay="0.2s" data-wow-offset="100">Risk Mitigation</h6>
                                        <h6 class="wow fadeInUp " data-wow-delay="0.2s" data-wow-offset="100">Successful Outcomes</h6>
                                        <h6 class="wow fadeInUp " data-wow-delay="0.2s" data-wow-offset="100">Achievement Based</h6>
                                        <h6 class="wow fadeInUp " data-wow-delay="0.2s" data-wow-offset="100">Accountability</h6>
                                        <h6 class="wow fadeInUp " data-wow-delay="0.2s" data-wow-offset="100">Convenience</h6>
                                        <h6 class="wow fadeInUp " data-wow-delay="0.2s" data-wow-offset="100">Efficieny</h6>
                                        <h6 class="wow fadeInUp " data-wow-delay="0.2s" data-wow-offset="100">Fast Onboarding</h6>
                                    </div>
                                </div>

                                <div class="col-6 text-center risk_management_container">
                                    <img style="max-height:350px; width:auto;" class="wow fadeInRight" data-wow-delay="0.2s" data-wow-offset="100" src="img/technology/technology_4.png">
                                </div>

                            </div>





                        </div>



                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- >>>>>>>>>>>>>>>> Service Details area End <<<<<<<<<<<<<<<< -->




    <section class="productive_relationships_section product_landing key_features_area section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Start -->
                    <div class="section_heading wow fadeInUp text-center">
                        <h2 class="section_title_text">Thoughtful Plan Design</h2>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12">
                    <div class="single_part_content mt15">
                        <h4 class="text-center"></h4>
                        <p><span style="font-weight: 400">Plan Design Optimizer</span> - Plan design optimization
                            can also have a significant impact on deferral rates and retirement readiness beyond a
                            comprehensive education program.
                            Using our proprietary Total Retirement Outcome Analyzer (detailed in the Strategic and
                            Negotiating Capabilities section), we can review the design options available and
                            estimate
                            future impact to savings rates and retirement readiness.</p>
                        <br>
                        <p><span style="font-weight: 400">BenefitRFP</span> – Through our partnership with
                            BenefitRFP, SRP can assist our clients non-
                            qualified solutions that help meet their company goals to:</p>



                        <div class="row">
                            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                                <div class="row">
                                    <div class="col-12">
                                        <strong>
                                            <p class="text-center technology_img_text">
                                                Reward and Retain Assets
                                            </p>
                                        </strong>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <img class="technology_img" src="img/technology/technology_5.png">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="text-center technology_img_text">
                                            Attract and Secure Talent
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <img class="technology_img" src="img/technology/technology_6.png">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.4s" >
                                <div class="row">
                                    <div class="col-12">
                                        <p class="text-center technology_img_text">
                                            Strategic Wealth Transfer
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <img class="technology_img" src="img/technology/technology_7.png">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>





{% endblock %}



{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/rangeslider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/pages/technology.js') }}"></script>

{% endblock %}