<header id="navbar">
    <div class="container">
        <nav id="navigation1" class="navigation">
            <!-- Logo Area Start -->
            <div class="nav-header">
                <a class="nav-brand" href="#"><img src="{{ asset('img/SRP-Logo.jpg') }}"></a>
                <div class="nav-toggle"></div>
            </div>
            <!-- Main Menus Wrapper -->
            <div class="nav-menus-wrapper">
                <ul class="nav-menu align-to-right">
                    <li><a href="/who-we-are">Who We Are</a>
                        <ul class="nav-dropdown">
                            <li><a href="#" target="_blank">Our Story</a></li>
                            <li><a href="#" target="_blank">Our Team</a></li>
                            <li><a href="#" target="_blank">Office Map</a></li>
                            <li><a href="#" target="_blank">Awards</a></li>
                        </ul>
                    </li>
                    <li><a href="/what-we-do">What We Do</a>
                        <ul class="nav-dropdown">
                            <li><a href="#" target="_blank">Retirement Plan Consulting</a></li>
                            <li><a href="#" target="_blank">Executive Benefits</a></li>
                            <li><a href="#" target="_blank">Outsourced 3(38)</a></li>
                            <li><a href="#" target="_blank">Endowments & Foundations</a></li>
                            <li><a href="#" target="_blank">HSA</a></li>
                            <li><a href="#" target="_blank">Endowments</a></li>
                        </ul>
                    </li>
                    <li><a href="/how-we-do-it">How We Do It</a>
                        <ul class="nav-dropdown">
                            <li><a href="#" target="_blank">Invest Wisely</a></li>
                            <li><a href="#" target="_blank">Productive Relationships</a></li>
                            <li><a href="#" target="_blank">Risk Management</a></li>
                        </ul>
                    </li>
                    <li><a href="/lets-connect">Let's Connect</a>
                        <ul class="nav-dropdown">
                            <li><a href="#" target="_blank">In the Press</a></li>
                            <li><a href="#" target="_blank">Upcoming Webinars</a></li>
                            <li><a href="#" target="_blank">Join Our Team</a></li>
                            <li><a href="#" target="_blank">Open An Office</a></li>
                            <li><a href="#" target="_blank">Blog</a></li>
                            <li><a href="#" target="_blank">Contact Us</a></li>

                        </ul>
                    </li>
                    <li><a href="#">Your Account</a>
                        <ul class="nav-dropdown">
                            <li><a href="#" target="_blank">Fiduciary Archive</a></li>
                            <li><a href="#" target="_blank">Plan Participant Portal</a></li>
                            <li><a href="#" target="_blank">Wealth Management Log In</a></li>
                            <li><a href="#" target="_blank">Financial Wellness Log In</a></li>
                            <li><a href="#" target="_blank">ERISA Training Log In</a></li>
                        </ul>
                    </li>

                    <li><a href="#">Submit Your RFP</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</header>