{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/pages/people.css') }}">
{% endblock %}

{% block body %}
    <body>
    <!-- >>>>>>>>>>>>>>>> Breadcumb Area Start <<<<<<<<<<<<<<<< -->
    <section class="breadcumb_area background-overlay" style="background-image: url(img/people.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcumb_section text-center">
                        <!-- Breadcumb Page Title -->
                        <div class="page_title">
                            <h4>Who We Are</h4>
                        </div>
                        <!-- Breadcumb Page Pagination -->
                        <ol class="breadcrumb d-inline-block">
                            <li class="breadcrumb-item active">Processes</li>
                            <li class="breadcrumb-item"><a href="#">Retirement Plan Consulting</a></li>
                            <li class="breadcrumb-item"><a href="#">Executive Benefits</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- >>>>>>>>>>>>>>>> Breadcumb Area End <<<<<<<<<<<<<<<< -->

    <!-- >>>>>>>>>>>>>>>> Service Details Area Start <<<<<<<<<<<<<<<< -->
    <div id="service_details_wrapper" class="section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Service Details Content Area -->
                    <div class="service_details_content">
                        <!-- Service Details Thumb -->
                        <div class="service_details_thumb">
                            <img src="img/services-img/service-details.jpg" alt="" class="img-thumbnail">
                        </div>
                        <!-- Service Details Text Area -->
                        <div class="single_part_content mt15">
                            <h4>Bank Loan</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, illo esse nisi dignissimos laboriosam officiis. Aliquid corporis amet, possimus voluptatem ducimus iste accusantium iusto, eveniet voluptatibus necessitatibus numquam alias distinctio nemo natus accusamus aliquam ea facilis nulla hic cupiditate. In doloremque illo debitis alias iusto, harum quis ad culpa aut suscipit! Ratione labore perspiciatis consequuntur reprehenderit tenetur debitis porro minima.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla optio laudantium in provident, animi? Pariatur dolorum possimus earum illo omnis dolore facilis! Quia quo hic quas non. Quam, aut, rem?</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas itaque, error, sit vel cupiditate, et dolore libero ea, atque laboriosam repudiandae quam excepturi nemo magni debitis sunt.</p>
                        </div>
                        <!-- Service Details Text Area -->
                        <div class="single_part_content">
                            <h4>Terms &amp; Conditions</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, illo esse nisi dignissimos laboriosam officiis. Aliquid corporis amet, possimus voluptatem ducimus iste accusantium iusto, eveniet voluptatibus necessitatibus numquam alias distinctio nemo natus accusamus aliquam ea facilis nulla hic cupiditate. In doloremque illo debitis alias iusto, harum quis ad culpa aut suscipit! Ratione labore perspiciatis consequuntur reprehenderit tenetur debitis porro minima.</p>
                        </div>
                        <!-- Service Details Text Area -->
                        <div class="single_part_content">
                            <h4>Conclusion</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, nam, nobis magnam nostrum, velit dolore iure eum voluptatem sit sequi placeat itaque et repellendus blanditiis ut nesciunt eligendi accusantium aspernatur possimus.</p>
                        </div>
                        <!-- Service Data Download Area -->
                        <div class="service_data_dl">
                            <p>Can't Find your best answer. Download our full stories.</p>
                            <a href="dummy-data/worksheet.pdf" class="btn default-button-green" download>Download Full PDF Document</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- >>>>>>>>>>>>>>>> Service Details area End <<<<<<<<<<<<<<<< -->
    </body>

{% endblock %}