{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/pages/technology.css') }}">
{% endblock %}


{% block body %}

    <!-- >>>>>>>>>>>>>>>> Breadcumb Area Start <<<<<<<<<<<<<<<< -->
    <section class="breadcumb_area background-overlay" style="background-image: url(img/people.jpg);">
        <div id="container" class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcumb_section text-center">
                        <!-- Breadcumb Page Title -->
                        <div class="page_title">
                            <h4>Technology</h4>
                        </div>
                        <!-- Breadcumb Page Pagination -->
                        <ol class="breadcrumb d-inline-block">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Technology</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- >>>>>>>>>>>>>>>> Breadcumb Area End <<<<<<<<<<<<<<<< -->


    <!-- >>>>>>>>>>>>>>>> Invest Wisely Area Start <<<<<<<<<<<<<<<< -->


    <section class="product_landing key_features_area section_padding_100 grey-background">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Start -->
                    <div class="section_heading wow fadeInUp text-center" style="visibility: visible; animation-name: fadeInUp;">
                        <h2>Invest Wisely</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 item" >
                    <div class="key_features_text">

                        <div class="single_part_content mt15">
                            <h4>SRP Investment Committee</h4>
                            <p>The primary function of the SRP advisory process is to provide ongoing due diligence to maximize protection, enhance opportunities for employees, and ensure a best practices retirement plan.  We focus on the following key steps:</p>
                            <h6 class="wow fadeInUp text-center" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">1. Select and monitor the plan’s investment options;</h6>
                            <h6 class="wow fadeInUp text-center" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">2. Educate the plan fiduciaries (committee) on its fiduciary responsibility; and</h6>
                            <h6 class="wow fadeInUp text-center" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">3. Document that the plan is acting with procedural prudence.</h6>
                            <br>
                            <p>You can rely on our due diligence process to increase investment opportunities for employees and address fiduciary liability concerns. Investment analysis and advice is the cornerstone of our practice.</p>

                        </div>

                        <div class="single_part_content mt15">
                            <h4>ScoreCard</h4>
                            <p>Our investment fund review is fueled by our ScorecardSM System, which ranks a plan’s funds across approximately 30 asset classes. SRP’s ScorecardSM Methodology analysis incorporates both quantitative and qualitative factors to evaluate fund managers and their investment strategies.</p>
                            <p>What differentiates our analysis is that it goes far beyond the Morningstar's "star" rating system and instead uses a complete approach that not only takes into account risk adjusted return characteristics, but style, peer group rankings and various qualitative factors. Our investment team utilizes several databases over 20,000 funds.</p>

                        </div>

                        <div class="single_part_content mt15">
                            <h4>Custom Models & Portfolios</h4>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- >>>>>>>>>>>>>>>> Invest Wisely Area End <<<<<<<<<<<<<<<< -->


    <!-- >>>>>>>>>>>>>>>> Productive Relationships Area Start <<<<<<<<<<<<<<<< -->

    <section class="product_landing key_features_area section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Start -->
                    <div class="section_heading wow fadeInUp text-center" style="visibility: visible; animation-name: fadeInUp;">
                        <h2>Productive Relationships</h2>
                    </div>
                </div>
            </div>

            <div class="single_part_content mt15 national_vendor_relationships">
                <h4>National Vendor Relationships</h4>
                <p>Strategic Retirement Partners recognizes the importance of fee analysis and vendor reviews.  Regular RFP/Benchmarking reviews help to keep your plan competitive with current, live bid, pricing and the latest service offerings from your recordkeeper.</p>

            </div>

        <div id="logos">
                <div class="row">

                    <div class="col-xs-3 col-lg-3">
                        <img src="assets/images/adp-logo.png" alt="ADP">

                    </div>

                    <div class="col-xs-3 col-lg-3">
                        <img src="assets/images/AmericanFunds.png" alt="american funds">

                    </div>

                    <div class="col-xs-3 col-lg-3">
                        <img class="black_rock_logo" src="assets/images/BlackRock-logo.png" alt="Black Rock">

                    </div>

                    <div class="col-xs-3 col-lg-3">
                        <img src="assets/images/John-Hancock-logo.png" alt="John Hancock">

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3 col-lg-3">
                        <img src="assets/images/Fidelity-logo.png" alt="Fidelity">

                    </div>

                    <div class="col-xs-3 col-lg-3">
                        <img src="assets/images/lincoln-financial-group.png" alt="Lincoln Financial">

                    </div>

                    <div class="col-xs-3 col-lg-3">
                        <img class="principal_logo" src="assets/images/Principal_Financial_Group_logo.png" alt="Principal Financial">

                    </div>

                    <div class="col-xs-3 col-lg-3">
                        <img class="prudential_logo" src="assets/images/Prudential_Financial.png" alt="Prudential Financial">

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3 col-lg-3">
                        <img src="assets/images/The-Standard.jpg" alt="The Standard">

                    </div>

                    <div class="col-xs-3 col-lg-3">
                        <img class="tiaa_logo" src="assets/images/tiaa.png" alt="TIAA">

                    </div>

                    <div class="col-xs-3 col-lg-3">
                        <img class="trowe_logo" src="assets/images/Trowe.png" alt="Trow">

                    </div>

                    <div class="col-xs-3 col-lg-3">
                        <img src="assets/images/voya.png" alt="Voya">

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3 col-lg-3">
                        <img class="massmutual_logo" src="assets/images/Massmutual.png" alt="Mass Mutual">

                    </div>

                    <div class="col-xs-3 col-lg-3">
                        <img class="ta_logo" src="assets/images/ta.png" alt="Trans America">

                    </div>

                    <div class="col-xs-3 col-lg-3">
                        <img class="vanguard_logo" src="assets/images/Vanguard.png" alt="Vanguard">

                    </div>

                    <div class="col-xs-3 col-lg-3">
                        <img src="assets/images/empower.svg" alt="Empower">

                    </div>
                </div>



            </div>
    </section>



    <!-- >>>>>>>>>>>>>>>> Productive Relationships Area End <<<<<<<<<<<<<<<< -->






    <!-- >>>>>>>>>>>>>>>> Service Details Area Start <<<<<<<<<<<<<<<< -->
    <div id="service_details_wrapper" class="section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Start -->
                    <div class="section_heading wow fadeInUp text-center" style="visibility: visible; animation-name: fadeInUp;">
                        <h2>Benchmarking</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">

                </div>

            </div>

            <div class="row">
                <div class="col-12">
                    <!-- Service Details Content Area -->
                    <div class="service_details_content">
                        <!-- Service Details Text Area -->
                        <div class="single_part_content mt15">
                            <p>Strategic Retirement Partners recognizes the importance of fee analysis and vendor reviews.  Regular RFP/Benchmarking reviews help to keep your plan competitive with current, live bid, pricing and the latest service offerings from your recordkeeper.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- >>>>>>>>>>>>>>>> Service Details area End <<<<<<<<<<<<<<<< -->




{% endblock %}



{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/pages/technology.js') }}"></script>
{% endblock %}