<!DOCTYPE html>
<html lang="en">
<head>


</head>





<body>

{% block body %}{% endblock %}
<!---------- JAVASCRIPTS ---------->
<script src={{ asset('js/jquery/jquery-2.2.4.min.js') }}></script>


{% block javascripts %}{% endblock %}
</body>
</html>







