{% extends 'content_base.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/pages/retirement-plan-consulting.css') }}">


{% endblock %}


{% block body %}

    <!-- >>>>>>>>>>>>>>>> Breadcumb Area Start <<<<<<<<<<<<<<<< -->
    <section class="breadcumb_area background-overlay" style="background-image: url(img/retirement-plan-consulting.jpg);">
        <div id="container" class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcumb_section text-center">
                        <!-- Breadcumb Page Title -->
                        <div class="page_title">
                            <h4>Srp as Investment Fiduciary</h4>
                        </div>
                        <!-- Breadcumb Page Pagination -->
                        <ol class="breadcrumb d-inline-block">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/what-we-do">What We Do</a></li>
                            <li class="breadcrumb-item active">Retirement Plan Consulting</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- >>>>>>>>>>>>>>>> Breadcumb Area End <<<<<<<<<<<<<<<< -->






    <!-- >>>>>>>>>>>>>>>> Service Details Area Start <<<<<<<<<<<<<<<< -->
    <div id="service_details_wrapper" class="section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Service Details Content Area -->
                    <div class="service_details_content">

                        <div class="text-center about_intro">



                            <br>
                            <p>
                                "DOL rule 408(b)(2) is what a service provider provides to a Plan Sponsor to say what their fee, service, and will they take personal responsibility as an investment fiduciary.  Let’s put this word into context.  Almost everyone uses a personal fiduciary and is a fiduciary in their everyday life.  I am talking about doctors and parents.  Good doctors put the health of their patients ahead of their own concern about fees. They understand they are responsible for their actions.  Good parents are fiduciaries of their children.  The parent puts the needs of their children ahead of their own and would never try to give the responsibility of this duty to someone else (although there are times…).  The parent wants to see their children grow into caring, thoughtful, and capable adults.  For SRP, being a fiduciary is a labor of love." - <strong>Craig Dewey</strong>
                            </p>
                            <hr>
                            <a href="/what-we-do" class="btn default-button-green">Return to What We Do</a>

                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- >>>>>>>>>>>>>>>> Service Details area End <<<<<<<<<<<<<<<< -->


    <!-- >>>>>>>>>>>>>>>> 401(k) Details area start <<<<<<<<<<<<<<<< -->

    <section class="product_landing key_features_area section_padding_100 grey-background">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Start -->
                    <div class="section_heading wow fadeInUp text-center" style="visibility: visible; animation-name: fadeInUp;">
                        <h2>For Employers</h2>
                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-md-6 col-lg-4 item" style="height: 362px;">
                    <div class="key_features_text">
                        {#<h5 class="defined_contribution_services">Defined contribution plan consulting and management services include:</h5>#}

                        <ol class="rounded-list">
                            <li><a href="#">Investment Selection and Monitoring</a></li>
                            <li><a href="#">Investment Policy Statement Development</a></li>
                            <li><a href="#">Target Date Fit Analysis</a></li>
                            <li><a href="#">Thorough Committee Minutes</a></li>
                            <li><a href="#">Document Retention for Audit Purposes</a></li>
                            <li><a href="#">Investment Cost Monitoring</a></li>
                            <li><a href="#">Quarterly Fiduciary Investment Review</a></li>

                        </ol>



                    </div>
                </div>


                <div class="col-md-6 col-lg-8 item" >
                    <div class="key_features_text">
                        <p style="margin-top:50px;">Strategic Retirement Partners recognizes that you have a business to run, and likely, reviewing investments is not a part of your day to day responsibilities.  With this mind, SRP can partner with you to take on the Fiduciary Responsibility (3(38)) for the investments in your plan. As your plan advisor, it is our job.  You should receive no less from anyone you entrust to help your employees retire on time and with dignity.
                        </p>
                        <br>
                        <p>The key differences between the 3(38) solution SRP professionals provide vs. others lies in the personalized experience you will receive.  We tailor our fund selection to the needs of your participant demographics to enhance their experience and compliment other retirement benefits you may offer.  Whether it is analyzing your Target Date funds, reviewing your fund offerings, or analyzing your line up for strategic opportunities, there is no “one size fits all” mentality.
                        </p>
                        <br>
                        <p>We provide essential 404(c) protections by assuming fiduciary responsibility for our investment choices, freeing up you and your committee from having to complete and document in depth fund reviews.  All of our decisions and meetings are thoroughly documented and explained in written minutes we provide.  As your partner, we have your best interest in mind.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- >>>>>>>>>>>>>>>> 401(k) Details area end <<<<<<<<<<<<<<<< -->


    <!-- >>>>>>>>>>>>>>>> Defined Benefit Details area Start <<<<<<<<<<<<<<<< -->
    <section class="product_landing key_features_area section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Start -->
                    <div class="section_heading wow fadeInUp text-center" style="visibility: visible; animation-name: fadeInUp;">
                        <h2>For Recordkeepers and Advisors
                        </h2>
                    </div>
                </div>
            </div>




            <div class="row">
                <div class="col-md-12 col-lg-12 item" >
                    <div class="key_features_text">
                        <p>
                            SRP partners with you to provide outsourced 3(38) solutions to your clients. While several national firms offer this service, there are key differences between the 3(38) solutions SRP professionals provide and the others:
                        </p><br>
                        <p>
                            <strong>Personalized Experience</strong> - We tailor our lineups to the needs of the participants and the plan sponsor.  We recognize that you have a relationship with your client and our job is to enhance that.  We get to know your client’s demographics and needs, so we can tailor solutions unique to those needs.  Cost is but one criteria that should be considered, not the only one.   There is no “one size fits all” mentality here.
                        </p>
                        <br>
                        <p>
                            <strong>Fiduciary Protection</strong> - We provide essential 404(c) protections by assuming fiduciary responsibility for our investment strategies.  We are not a wealth management firm that also manages retirement plans, we are a total retirement plan advisory firm that does not have proprietary product or competing agendas.
                        </p>
                        <br><p>
                            <strong>Partnership</strong> - As your partner in client service, we respect mutual confidentiality and will sign a non-solicitation agreement to protect your client relationships, tailoring our service model to complement your offering.  In the crowded world of investment advisory services, we see opportunity in forming mutually beneficial relationships.
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </section>



    <!-- >>>>>>>>>>>>>>>> Defined Benefit Details area end <<<<<<<<<<<<<<<< -->




{% endblock %}


{% block javascripts %}


    <script type="text/javascript" src="{{ asset('js/pages/retirement-plan-consulting.js') }}"></script>

{% endblock %}