<section id="blog-section" class="blog_area? cx">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading Start -->
                <div class="section_heading">
                    <p>See whats going on in the community</p>
                    <h3>our blog</h3>
                </div>
            </div>
        </div>
        <div class="row">

            <!-- single latest news area start -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single_latest_news_area wow fadeInUp item" data-wow-delay=".2s">
                    <!-- single latest news thumb -->
                    <div class="single_latest_news_img_area">
                        <img class="img-fluid" src="img/news-img/blog.jpg" alt="">
                        <!-- single latest news published date -->
                    </div>
                    <div class="single_latest_news_text_area">
                        <!--  Date & tag -->
                        <div class="date_tag">
                            <div class="date">
                                <p>03 Feb 2017</p>
                            </div>
                            <div class="tag">
                                <a href="#">Post</a>
                            </div>
                        </div>
                        <!-- single latest news title -->
                        <div class="news_title">
                            <a href="single-blog-with-right-sb.html">
                                <h4>Title</h4>
                            </a>
                        </div>
                        <!-- single latest news excerp -->
                        <div class="news_content">
                            <p>Content Content Content</p>
                            <a href="single-blog-with-left-sb.html">Read More <i class="fa fa-angle-double-right"
                                                                                 aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- single latest news area start -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single_latest_news_area wow fadeInUp item" data-wow-delay=".4s">
                    <!-- single latest news thumb -->
                    <div class="single_latest_news_img_area">
                        <img class="img-fluid" src="img/news-img/blog-2.jpg" alt="">
                        <!-- single latest news published date -->
                    </div>
                    <div class="single_latest_news_text_area">
                        <!--  Date & tag -->
                        <div class="date_tag">
                            <div class="date">
                                <p>01 Feb 2017</p>
                            </div>
                            <div class="tag">
                                <a href="#">Post</a>
                            </div>
                        </div>
                        <!-- single latest news title -->
                        <div class="news_title">
                            <a href="single-blog-with-right-sb.html">
                                <h4>Title.</h4>
                            </a>
                        </div>
                        <!-- single latest news excerp -->
                        <div class="news_content">
                            <p>Content content content</p>
                            <a href="single-blog-with-right-sb.html">Read More <i class="fa fa-angle-double-right"
                                                                                  aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- single latest news area start -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single_latest_news_area wow fadeInUp item" data-wow-delay=".6s">
                    <!-- single latest news thumb -->
                    <div class="single_latest_news_img_area">
                        <img class="img-fluid" src="img/news-img/blog-3.jpg" alt="">
                        <!-- single latest news published date -->
                    </div>
                    <div class="single_latest_news_text_area">
                        <!--  Date & tag -->
                        <div class="date_tag">
                            <div class="date">
                                <p>27 Jan 2017</p>
                            </div>
                            <div class="tag">
                                <a href="#">Post</a>
                            </div>
                        </div>
                        <!-- single latest news title -->
                        <div class="news_title">
                            <a href="single-blog-with-right-sb.html">
                                <h4>Title</h4>
                            </a>
                        </div>
                        <!-- single latest news excerp -->
                        <div class="news_content">
                            <p>content content content.</p>
                            <a href="single-blog-with-right-sb.html">Read More <i class="fa fa-angle-double-right"
                                                                                  aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>