<section class="about_area section_padding_100_70" id="about-section">
    <div class="container">
        <div class="about_us_area">
            <div class="row">
                <!-- About Us Area -->
                <div class="col-12 col-lg-6 item">
                    <!-- About Us Text Start -->
                    <div class="about_us_text">
                        <h3>Welcome to SRP</h3>
                        <p>Strategic Retirement Partners is an independent retirement plan consulting firm that advises on plans representing the retirement aspirations of tens of thousands of employees.   We support plan sponsors in understanding and fulfilling their fiduciary responsibilities to their plan, their employees, and their beneficiaries. We currently consult on over 500 corporate and non-profit plans nationwide.
                        </p>

                        <a href="#" class="">Learn More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-12 col-lg-6 item">
                    <div class="about_us_thumb sm-mt-30 xs-mt-30">
                        <img class="img-fluid" src="{{ asset('img/home_page/office_photo.jpg') }}" alt="">
                    </div>
                </div>
            </div>
            <div class="our_speciality_area">
                <div class="row">
                    <!-- Single Speciality Area Start -->
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="single_speciality item">
                            <div class="single_speciality_icon">
                                <i class="ion-android-laptop" aria-hidden="true"></i>
                            </div>
                            <div class="single_speciality_text">
                                <h5>Submit an RFP</h5>
                            </div>
                        </div>
                    </div>
                    <!-- Single Speciality Area Start -->
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="single_speciality item">
                            <div class="single_speciality_icon bar_icon">
                                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            </div>
                            <div class="single_speciality_text">
                                <h5>Find an Advisor</h5>
                            </div>
                        </div>
                    </div>
                    <!-- Single Speciality Area Start -->
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="single_speciality item">
                            <div class="single_speciality_icon">
                                <i class="ion-briefcase" aria-hidden="true"></i>
                            </div>
                            <div class="single_speciality_text">
                                <h5>Join Our Team</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>