<section class="carousel" id="home">
    <div class="slidea" id="slidea">
        <!-- Slidea Slide -->
        <div class="slidea-slide" id="default_slidea_slide_one">
            <div class="slidea-content slidea-content-center">
                <div class="slidea-content-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="text-left">
                                    <div class="s-obj default-title white_title" id="title-one">
                                        <h2>Let Us Plan <span>Your Future</span></h2>
                                    </div>
                                    <div class="s-obj default-description midnight_blue" id="description-one">
                                        <p>Rest easy knowing your future is in good hands</p>
                                    </div>
                                    <div class="s-obj" id="btn-one">
                                        <a href="#" class="btn default-button">Discover More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Background Image -->
            <img class="slidea-background" src="{{ asset('img/home_page/mountain_view.jpg') }}" alt="">
        </div>

        <!-- Slidea Slide -->
        <div class="slidea-slide" id="default_slidea_slide_two">
            <div class="slidea-content slidea-content-center">
                <div class="slidea-content-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-6 ml-md-auto text-right">
                                <div class="s-obj default-title" id="title-two">
                                    <h2>Take a look at our video </h2>
                                </div>
                                <div class="s-obj default-description" id="description-two">
                                    <p>See some of the things that we do here!</p>
                                </div>
                                <div class="s-obj" id="btn-two">
                                    <a href="#" class="btn default-button">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Background Image -->
            <img class="slidea-background" src="{{ asset('img/home_page/couple_beach.jpg') }}" alt="">
        </div>
    </div>
</section>