<section class="about_area section_padding_100_70" id="about-section">
    <div class="container">
        <div class="about_us_area">
            <div class="row">
                <!-- About Us Area -->
                <div class="col-12 col-lg-6 item">
                    <!-- About Us Text Start -->
                    <div class="about_us_text">
                        <h3>Welcome to SRP</h3>
                        <p>Strategic Retirement Partners is a nationwide independent retirement plan consulting firm
                            that advises employers and plan fiduciaries in the understanding and fulfillment of
                            their responsibilities to the plan, participating employees, and beneficiaries. We
                            currently consult on over 400 corporate and non-profit plans representing the retirement
                            aspirations of tens of thousands of employees.</p>
                        <p>We invite you to review our website to learn more about our areas of specialization, our
                            unique value proposition and contact us for assistance.</p>
                        <a href="#" class="">Learn More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-12 col-lg-6 item">
                    <div class="about_us_thumb sm-mt-30 xs-mt-30">
                        <img class="img-fluid" src="{{ asset('img/home_page/office_photo.jpg') }}" alt="">
                    </div>
                </div>
            </div>
            <div class="our_speciality_area">
                <div class="row">
                    <!-- Single Speciality Area Start -->
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="single_speciality item">
                            <div class="single_speciality_icon">
                                <i class="ion-android-laptop" aria-hidden="true"></i>
                            </div>
                            <div class="single_speciality_text">
                                <h5>Submit an RFP</h5>
                                <p>Learn how to submit an RFP</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Speciality Area Start -->
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="single_speciality item">
                            <div class="single_speciality_icon">
                                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            </div>
                            <div class="single_speciality_text">
                                <h5>Find an Advisor</h5>
                                <p>Let's find you the right fit!</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Speciality Area Start -->
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="single_speciality item">
                            <div class="single_speciality_icon">
                                <i class="ion-briefcase" aria-hidden="true"></i>
                            </div>
                            <div class="single_speciality_text">
                                <h5>Join Our Team</h5>
                                <p>See how you can join our team!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>