.footer_area {
    position: relative;
    z-index: 1;
}

.footer_bottom_area {
    background-color: #111;
}

.footer_bottom {
    padding: 30px 0 50px 0;
    text-align: center;
}

.footer_bottom p {
    margin: 0;
    color: #fff;
}

.footer_bottom p>a {
    color: #fff;
}

.footer_bottom p>i,
.footer_bottom p>a:hover {
    color: #0093c9;
}

.social_links_area {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    z-index: 1;
}

.social_links_area>a {
    color: #fff;
    display: inline-block;
    font-size: 18px;
    margin: 0 2px;
    text-align: center;
    width: 30px;
    height: 30px;
}

.inline-style .social_links_area>a {
    border: 0px solid transparent;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    height: auto;
    margin: 0 10px;
    text-align: center;
    width: auto;
}

.inline-style .social_links_area>a>i {
    line-height: 1;
}

.social_links_area>a:hover {
    color: #0093c9;
}

.inline-style .social_links_area>a:hover {
    background-color: transparent;
    color: #0093c9;
    border: 0px solid transparent;
}