

.grey-background{
    background-color: #f6f6f6;
}


#container{
    height: 336px;
}


.background-overlay:before{
    background-color: rgba(0,147,201,0.4);
}

.page_title h4 {
    font-size: 4rem;
    color: white;
    text-shadow: 1px 1px 2px #000;

}


.breadcumb_area{
    /*padding-top: 0px;*/
    /*padding-bottom: 0px;*/
    height: 336px;

}

.breadcumb_section{
    margin-top: 130px;
}

.built_by_advisors h4{
 font-size: 2.0rem;
    color: #0093c9;
    padding-top: 10px;
}

.built_by_advisors p {
    font-size: 20px;
}

.small_card{
    background-color: black;
    height: 200px;
    /*padding-top: 5px;*/
    border-style: solid;
    border-width: 5px;
    border-color: white;
}


.box{
    /*height: 100%;*/
    background-color: #0093c9;
    height: 300px;
}

.box2{
    height: 100%;
    background-color: #0093c9;
    border-radius: 30px;
    border-color: white;
    border-style: solid;
    border-width: 20px;
}

/*Material Card*/

.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.srpblue{
    background-color: #0093c9;
}



/* Materialize card with hover effect */

.card-panel.hoverable {
    overflow: hidden;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    color: white;
    height: 400px;
}
.card-panel.hoverable.small {
    height: 400px;
}
.card-panel.hoverable.medium {
    height: 400px;
}
.card-panel.hoverable.large {
    height: 500px;
}
.card-panel.hoverable .card-panel-header {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%) scale(1.5);
    transform: translateY(-50%) scale(1.5);
    -webkit-transition: top 0.25s 0.1s, -webkit-transform 0.25s ease 0.1s;
    transition: top 0.25s 0.1s, -webkit-transform 0.25s ease 0.1s;
    transition: top 0.25s 0.1s, transform 0.25s ease 0.1s;
    transition: top 0.25s 0.1s, transform 0.25s ease 0.1s, -webkit-transform 0.25s ease 0.1s;
}
.card-panel.hoverable .card-panel-icon {
    display: block;
    text-align: center;
}
.card-panel.hoverable .card-panel-caption {
    display: block;
    text-align: center;
    font-size: 1rem;
}
.card-panel.hoverable .card-panel-content {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: opacity 0.8s, -webkit-transform 0.25s;
    transition: opacity 0.8s, -webkit-transform 0.25s;
    transition: transform 0.25s, opacity 0.8s;
    transition: transform 0.25s, opacity 0.8s, -webkit-transform 0.25s;
}
.card-panel.hoverable:hover .card-panel-header {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    top: 0;
}
.card-panel.hoverable:hover .card-panel-content {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}




