
body {
    margin-top:70px;
}


.main_header_area {
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
}


.choose_us_overlay_text a {
    color: #0093c9;
}

.logo_area{
    margin-top: 10px;
}
