.grey-background{
    background-color: #f6f6f6;
}


#container{
    height: 336px;
}


.background-overlay:before{
    background-color: rgba(0,147,201,0.4);
}

.page_title h4 {
    font-size: 4rem;
    color: white;
    text-shadow: 1px 1px 2px #000;

}


.breadcumb_area{
    margin-top: 70px;
    /*padding-top: 0px;*/
    /*padding-bottom: 0px;*/
    height: 336px;

}

.breadcumb_section{
    margin-top: 130px;
}


.styled-select {
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 3px;

    overflow: hidden;
    position: relative;
}
.styled-select, .styled-select select { width: 240px;}
select:focus { outline: none; }
.styled-select select {
    height: 34px;
    padding: 5px 0 5px 5px;
    background: transparent;
    border: none;

    /*hide default down arrow in webkit */
    -webkit-appearance: none;
}


.ui {
    width: 100%;
    height: 450px;
    margin-top: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    box-shadow: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.ui_box {
    box-sizing: initial;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    flex-grow: 1;
    flex-basis: 20%;
    background: #0093c9;
    border: white solid 1px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 0.5s ease;
}

.ui_box:hover {
    transform: scale(1.03);
}

.ui_box h1, .ui_box p {
    color: white;
}

.ui_box h2 {
    text-align:center;
    align-self: center;
}

.ui_box__inner p {
    font-size: 14px;
}

.ui_box__inner {
    padding: 30px;
}

.ui_box_hover {
    background: #0093c9;

}

.ui_box_hover h1, .ui_box_hover p {
    color: white;
}

.ui_box_hover hr {
    border-color: white;
}

.rangeslider-container {
    width: 800px;
}

.phase_container {


}







@media (min-width: 576px) {

    .phase_container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {

    .phase_container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {

    .phase_container {
        max-width: 1100px;
    }

}
@media (min-width: 1200px) {

    .phase_container {
        max-width: 1300px;
    }
}