.grey-background{
    background-color: #f6f6f6;
}

hr{
    border-width: 2px;
    border-style: solid;
    border-color: #0093c9;
    border-radius: 2px;
    margin-left: 25px;
    margin-right: 25px;
}

#container{
    height: 336px;
}


.background-overlay:before{
    background-color: rgba(0,147,201,0.4);
}

.page_title h4 {
    font-size: 4rem;
    color: white;
    text-shadow: 1px 1px 2px #000;
}


.breadcumb_area{
    /*padding-top: 0px;*/
    /*padding-bottom: 0px;*/
    height: 336px;

}

.breadcumb_section{
    margin-top: 130px;
}

.about_intro{

}

.begins_with_conversation{
    font-size: 20px;
}













/* -------------------------------------- */

ol{
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
}

ol ol{
    margin: 0 0 0 2em;
}



.rounded-list a{
    cursor:default;
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.rounded-list a:hover{
    background: #eee;
}

.rounded-list a:hover:before{
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.rounded-list a:before{
    box-sizing: initial;
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}











@media screen and (max-width: 414px) {

    .breadcumb_area{
        height: 200px;

    }

    #container{
        height: 200px;
    }

    .breadcumb_section{
        margin-top: 20px;
    }

    .page_title h4 {
        font-size: 2.5rem;
    }

    .about_intro {
        padding-bottom: 20px;
    }

    .about_intro h3 {
        font-size: 1rem;
    }


    #service_details_wrapper{
        padding-top: 50px;
    }

    /*.key_features_text h6 {*/
        /*font-weight: 300;*/

    /*}*/

    #whatWeDo {
        text-align: center;
    }

    #whatWeDoText {

    }

    .defined_contribution_services {
        text-align: center;
    }

    .begins_with_conversation{
        font-size: 18px;
    }

    .defined_benefit_services{
        text-align: center;
    }


}