.grey-background{
    background-color: #f6f6f6;
}


#container{
    height: 336px;
}


.background-overlay:before{
    background-color: rgba(0,147,201,0.4);
}

.page_title h4 {
    font-size: 4rem;
    color: white;
    text-shadow: 1px 1px 2px #000;

}


.breadcumb_area{
    /*padding-top: 0px;*/
    /*padding-bottom: 0px;*/
    height: 336px;

}

.breadcumb_section{
    margin-top: 130px;
}


.styled-select {
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 3px;

    overflow: hidden;
    position: relative;
}
.styled-select, .styled-select select { width: 240px;}
select:focus { outline: none; }
.styled-select select {
    height: 34px;
    padding: 5px 0 5px 5px;
    background: transparent;
    border: none;

    /*hide default down arrow in webkit */
    -webkit-appearance: none;
}