.grey-background{
    background-color: #f6f6f6;
}


#container{
    height: 336px;
}


.background-overlay:before{
    background-color: rgba(0,147,201,0.6);
}

.page_title h4 {
    font-size: 4rem;
    color: white;
}


.breadcumb_area{
    /*padding-top: 0px;*/
    /*padding-bottom: 0px;*/
    height: 336px;

}

.breadcumb_section{
    margin-top: 130px;
}


.single_part_content p {
    font-size: 22px;
}
.single_part_content h6 {
    font-size: 20px;
}



.national_vendor_relationships{
    padding-top: 10px;
}





.black_rock_logo{
    padding-top: 37px;
}

.principal_logo {
    padding-top: 25px;
}

.prudential_logo {
    padding-top: 25px;
}

.tiaa_logo{
    height:170px;
    padding-left: 30px;
}

.trowe_logo{
    padding-top: 33px;
}

.massmutual_logo{
    padding-top: 50px;
}

.ta_logo{
    padding-top: 13px;
}

.vanguard_logo{
    padding-top: 35px;
}

.logos .row{
    height: 150px;
}

.key_step_text{
    text-align: center;
}



@media screen and (max-width: 414px) {

    .breadcumb_area{
        height: 200px;

    }

    #container{
        height: 200px;
    }

    .breadcumb_section{
        margin-top: 50px;
    }

    .page_title h4 {
        font-size: 2.5rem;
    }

    .key_step_text{
        text-align: left;
    }

    .section_title_text{
        font-size: 30px !important;
    }

    .invest_wisely_section{
        padding-top: 50px;
    }

    .invest_wisely_title{
        margin-bottom: 5px;
    }


}

