/* for three images at top of /technology page*/
.technology_img {
    max-width: 60%;
}

/* for the text above each technology image*/
.technology_img_text {
    font-weight: 600;
    font-size: 36px;
    color: #0093c9;
}

/* for the regular text in a section that isn't the section's heading*/
.technology_section_sub_heading {
    color: #000 !important;
    font-size: 18px !important;
    font-weight: 300 !important;
    margin: 0 auto !important;
    max-width: none !important;
    text-transform: none !important;
}

.training_objectives h6 {
    font-weight: 600;
    font-size: 24px;
    color: white;
}

.risk_management_container {
    height: 350px;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

.benchmark_slider_text span {
    font-weight: 500;
    font-size: 18px;
    color: #0093c9;
}

.grey-background {
    background-color: #f6f6f6;
}

#container {
    height: 336px;
}

hr {
    border-width: 2px;
    border-style: solid;
    border-color: #0093c9;
    border-radius: 2px;
    margin-left: 25px;
    margin-right: 25px;
}

/* for blue overlay over image at top of web page */
.background-overlay:before {
    background-color: rgba(0, 147, 201, 0.4);
}

.page_title h4 {
    font-size: 4rem;
    color: white;
    text-shadow: 1px 1px 2px #000;
}

.breadcumb_area {
    margin-top: 70px;
    height: 336px;
}

.breadcumb_section {
    margin-top: 130px;
}

.single_part_content p {
    font-size: 22px;
}

.single_part_content h6 {
    font-size: 20px;
}

.national_vendor_relationships {
    padding-top: 10px;
}

#logos {
    padding-left: 100px;
    padding-right: 100px;
}

.logos .row {
    height: 150px;
}

.productive_relationships_section img {
    vertical-align: middle;
}

.key_step_text {
    text-align: center;
}

.section_title_text {
    font-size: 3.0rem;
}

.program_goal {
    /*text-align: center;*/
    font-size: 22px !important;
}

.logo-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.benchmarking-image {
    border: 1px solid #f6f6f6;
    padding: 2px;
    text-align: center;
}

.ui {
    width: 100%;
    height: 450px;
    margin-top: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    box-shadow: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.ui_box {
    box-sizing: initial;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    flex-grow: 1;
    flex-basis: 20%;
    background: #0093c9;
    border: white solid 1px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 0.5s ease;
}

.ui_box:hover {
    transform: scale(1.03);
}

.ui_box h1, .ui_box p {
    color: white;
}

.ui_box h2 {
    text-align:center;
    align-self: center;
}

.ui_box__inner p {
    font-size: 14px;
}

.ui_box__inner {
    padding: 30px;
}

.ui_box_hover {
    background: #0093c9;

}

.ui_box_hover h1, .ui_box_hover p {
    color: white;
}

.ui_box_hover hr {
    border-color: white;
}

.rangeslider-container {
    width: 800px;
}

.phase_container {


}







@media (min-width: 576px) {

    .phase_container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {

    .phase_container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {

    .phase_container {
        max-width: 1100px;
    }

}
@media (min-width: 1200px) {

    .phase_container {
        max-width: 1300px;
    }
}
@media screen and (max-width: 414px) {

    .breadcumb_area {
        height: 200px;

    }

    #container {
        height: 200px;
    }

    .breadcumb_section {
        margin-top: 50px;
    }

    .page_title h4 {
        font-size: 2.5rem;
    }

    .key_step_text {
        text-align: left;
    }

    .section_title_text {
        font-size: 30px !important;
    }

    .invest_wisely_section {
        padding-top: 50px;
    }

    .invest_wisely_title {
        margin-bottom: 5px;
    }

}

