{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/pages/retirement-plan-consulting.css') }}">


{% endblock %}


{% block body %}

    <!-- >>>>>>>>>>>>>>>> Breadcumb Area Start <<<<<<<<<<<<<<<< -->
    <section class="breadcumb_area background-overlay" style="background-image: url(img/retirement-plan-consulting.jpg);">
        <div id="container" class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcumb_section text-center">
                        <!-- Breadcumb Page Title -->
                        <div class="page_title">
                            <h4>Retirement Plan Consulting</h4>
                        </div>
                        <!-- Breadcumb Page Pagination -->
                        <ol class="breadcrumb d-inline-block">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/what-we-do">What We Do</a></li>
                            <li class="breadcrumb-item active">Retirement Plan Consulting</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- >>>>>>>>>>>>>>>> Breadcumb Area End <<<<<<<<<<<<<<<< -->






    <!-- >>>>>>>>>>>>>>>> Service Details Area Start <<<<<<<<<<<<<<<< -->
    <div id="service_details_wrapper" class="section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Service Details Content Area -->
                    <div class="service_details_content">

                        <div class="text-center about_intro">
                            <h3>
                                Be confident in your strides towards the future
                            </h3>

                            <br>
                            <p class="begins_with_conversation">It all begins with a conversation…let’s find out how we might be of service to you either now, or in the future. Find out why we say… “Relax, we’ll take it from here."</p>
                            <hr>
                            <a href="/what-we-do" class="btn default-button-green">Return to What We Do</a>

                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- >>>>>>>>>>>>>>>> Service Details area End <<<<<<<<<<<<<<<< -->


    <!-- >>>>>>>>>>>>>>>> 401(k) Details area start <<<<<<<<<<<<<<<< -->

    <section class="product_landing key_features_area section_padding_100 grey-background">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Start -->
                    <div class="section_heading wow fadeInUp text-center" style="visibility: visible; animation-name: fadeInUp;">
                        <h2>401(K)</h2>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6 col-lg-4 item" style="height: 362px;">
                    <div class="key_features_text">
                        <h5 class="defined_contribution_services">Defined contribution plan consulting and management services include:</h5>

                        <ol class="rounded-list">
                            <li><a href="#">Fiduciary Governance & Documentation</a></li>
                            <li><a href="#">Plan Design Analysis & Benchmarking </a></li>
                            <li><a href="#">Investment Selection and Monitoring </a></li>
                            <li><a href="#">Investment Policy Development </a></li>
                            <li><a href="#">Vendor Search & Selection Processes </a></li>
                            <li><a href="#">Plan Conversion Implementation </a></li>
                            <li><a href="#">Participant Education & Support </a></li>
                            <li><a href="#">Plan Audit Support </a></li>
                            <li><a href="#">3(21) and/or 3(38) Fiduciary Support </a></li>
                            <li><a href="#">Custom Asset Allocation Solutions </a></li>
                            <li><a href="#">Committee Fiduciary Education </a></li>
                            <li><a href="#">Provider Oversight & Benchmarking </a></li>
                            <li><a href="#">Operational Plan Support </a></li>

                        </ol>



                    </div>
                </div>


                <div class="col-md-6 col-lg-8 item" >
                    <div class="key_features_text">
                        <p>401(k) plans have become the foundation of private retirement planning for the vast majority of working Americans. As an employer offering a 401(k) plan to your employees, you bear a fiduciary responsibility to ensure you are in compliance with constantly evolving regulatory guidelines under ERISA law.</p>
                        <br>
                        <p>Equally important, you want to make sure you are providing the best plan possible to the employees who contribute a lifetime of work and dedication to the success of your enterprise.</p>
                        <br>
                        <p>Meanwhile, you have a company to run…</p>
                        <br>
                        <p>Strategic Retirement Partners understands the importance of the commitment you have made on behalf of your employees. Our dedicated focus and depth of expertise in the corporate retirement plan field can help you design, select, and manage both your plan, investments and risk as plan fiduciaries, while simultaneously helping to ensure that you and your workforce are able to fully understand and maximize the potential of this very important benefit.</p>
                        <br>
                        <p id="whatWeDo"><span id="whatWeDoText">It's what we do...</span></p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- >>>>>>>>>>>>>>>> 401(k) Details area end <<<<<<<<<<<<<<<< -->


    <!-- >>>>>>>>>>>>>>>> Defined Benefit Details area Start <<<<<<<<<<<<<<<< -->
    <section class="product_landing key_features_area section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Start -->
                    <div class="section_heading wow fadeInUp text-center" style="visibility: visible; animation-name: fadeInUp;">
                        <h2>Defined Benefit</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-6 item" >
                    <div class="key_features_text">
                        <p>Employers who maintain traditional Defined Benefit plans understand that long-term forecasting and the development of a comprehensive risk management strategies are essential to helping meet organizational goals, pension plan goals and obligations to your employees.</p>
                        <br>
                        <p>As a full-service retirement plan consulting firm, Strategic Retirement Partners is one of a few independent retirement practices with a dedicated team of Defined Benefit plan experts. Our consulting team will help your administrative and investment committees evaluate your plan and determine a strategy that fits with company goals. We can help whether your plan is active, frozen or terminating.</p>
                        <br>
                        <p>Additionally, we constantly stay abreast of legislative changes to ensure you have an investment and distribution process that adheres to fiduciary procedures mandated by the DOL under ERISA Law.</p>

                    </div>
                </div>
                <div class="col-md-6 col-lg-6 item" style="height: 362px;">
                    <div class="key_features_text">
                        <h5>Defined contribution plan consulting and management services include:</h5>
                        <h6 class="wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Develop the Funding Strategy – <span style="font-weight: 300">Evaluate the three most common strategies to determine which makes the most sense for your business and your plan(s).</span></h6>
                        <h6 class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">Develop the Investment Policy Statement aligned with Funding Strategy and Glide Path</h6>
                        <h6 class="wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Asset Liability Modeling Strategy – <span style="font-weight: 300">Forecasting to help evaluate the effect of various asset allocations on measures important to your termination strategy.</span></h6>
                        <h6 class="wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Review/Add Liability Driving Investing – <span style="font-weight: 300">Part of the plan assets strategy necessary to track liabilities and minimize the pain of unexpected market shocks.</span></h6>
                        <h6 class="wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">Evaluate the Cost of Termination – <span style="font-weight: 300">Determine how long it may take before funding is in place to cover termination costs (funding shortfall).</span></h6>
                        <h6 class="wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">Review De-Risking Strategies – <span style="font-weight: 300">Determine which order and which strategy makes the most sense now and later.</span></h6>
                        <h6 class="wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">Review/Interpret of Annual Actuarial Valuation & Annual Funding Notices</h6>
                        <h6 class="wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">Glide Path Analysis</h6>
                        <h6 class="wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInUp;">Plan Governance/ERISA Compliance</h6>


                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- >>>>>>>>>>>>>>>> Defined Benefit Details area end <<<<<<<<<<<<<<<< -->



    <!-- >>>>>>>>>>>>>>>> ESOP/KSOP Details area start <<<<<<<<<<<<<<<< -->
    <section class="product_landing key_features_area section_padding_100 grey-background">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Start -->
                    <div class="section_heading wow fadeInUp text-center" style="visibility: visible; animation-name: fadeInUp;">
                        <h2>ESOP/KSOP</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-6 item" >
                    <div class="key_features_text">
                        <p>An employee stock ownership plan (ESOP) offers an exceptional method for employers to provide equity ownership and thus a stake in the future of the overall enterprise to their employees, in our experience, often leading to increased employee satisfaction, motivation and retention.</p>
                        <br>
                        <p>As a full-service retirement plan consulting firm, Strategic Retirement Partners has ESOP specialists, who can help your investment committee manage both the plan benefit and your obligations under ERISA.</p>

                    </div>
                </div>
                <div class="col-md-6 col-lg-6 item" style="height: 362px;">
                    <div class="key_features_text">
                        <h5>ESOP consulting and management services include:</h5>
                        <h6 class="wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Fiduciary Governance – <span style="font-weight: 300">Create responsibility grids, committee charters, review of external trustee, training of internal trustees, DOL/IRS audit support, review of policies and procedures to comply with the Great Banc Ruling. Create and maintain an audit and fiduciary file.</span></h6>
                        <h6 class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">Review of Repurchase Obligation Study – <span style="font-weight: 300">A review should be done once every three to five years and/or close to when the note is up.</span></h6>
                        <h6 class="wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Education Coordination – <span style="font-weight: 300">Devise a strategy to help your communication committee and senior management strengthen the employee appreciation and understanding of the ESOP itself and their own role in the stock value.</span></h6>
                        <h6 class="wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Plan Design Support – <span style="font-weight: 300">Do you use the ESOP to receive Safe Harbor contributions?</span></h6>
                        <h6 class="wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">Distribution Planning and Support</h6>
                        <h6 class="wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">Support During DOL/IRS Audits</h6>
                        <h6 class="wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">ESOP Cash Studies – <span style="font-weight: 300">Adding sinking fund, funding from operations, adding debt or adding cash fund within the ESOP</span></h6>
                        <h6 class="wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">Non-Profit</h6>


                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- >>>>>>>>>>>>>>>> ESOP/KSOP Details area end <<<<<<<<<<<<<<<< -->


    {#<!-- >>>>>>>>>>>>>>>> Executive Benefits Details area start <<<<<<<<<<<<<<<< -->#}
    {#<section class="product_landing key_features_area section_padding_100">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-12">#}
                    {#<!-- Section Heading Start -->#}
                    {#<div class="section_heading wow fadeInUp text-center" style="visibility: visible; animation-name: fadeInUp;">#}
                        {#<h2>Executive Benefits</h2>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}

            {#<div class="row">#}
                {#<div class="col-md-6 col-lg-6 item" >#}
                    {#<div class="key_features_text">#}
                        {#<p>Aligning the strategic goals of your organization with your retirement plan offering is essential to a strong and impactful total rewards program. Implementing a forward-thinking Executive Benefits Plan will help you recruit, retain, and reward your key people, while reinforcing corporate strategic goals and values.</p>#}
                        {#<br>#}
                        {#<p>Our holistic approach to retirement plan consulting will help you create efficiencies in each plan separately and collectively. One such area is participant education. Traditional 401(k) and 403(b) contribution limits creating funding gaps for executives in retirement. With SRP’s help, your executive team will have a better understanding of, appreciation of, and outcomes generated by your retirement plan offering.</p>#}

                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-6 col-lg-6 item" style="height: 362px;">#}
                    {#<div class="key_features_text">#}
                        {#<h5 class="defined_benefit_services">As with Defined Contribution and Defined Benefit plans, our services are designed to enhance the employer and participant experience:</h5>#}
                        {#<h6 class="wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Plan Design Analysis and Benchmarking</h6>#}
                        {#<h6 class="wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">Investment Selection and Monitoring</h6>#}
                        {#<h6 class="wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Plan Financing</h6>#}
                        {#<h6 class="wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Vendor Search and Selection Processes</h6>#}
                        {#<h6 class="wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">Plan Conversion Implementation</h6>#}
                        {#<h6 class="wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">Participant Education and Support</h6>#}
                        {#<h6 class="wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">Provider Oversight and Fee Benchmarking</h6>#}


                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}



    {#<!-- >>>>>>>>>>>>>>>> Executive Benefits Details area end <<<<<<<<<<<<<<<< -->#}









{% endblock %}


{% block javascripts %}


    <script type="text/javascript" src="{{ asset('js/pages/retirement-plan-consulting.js') }}"></script>

{% endblock %}