{% extends 'employee_page/employee.html.twig'%}

{% block bio %}
    <p>
        As a Director of Plan Consulting for Strategic Retirement Partners in the Mid-West office, Brent works closely with plan sponsors and fiduciaries assisting them with important plan provider decisions. This includes annual plan reviews, plan design analysis, investment monitoring, plan fee benchmarking, and plan provider analysis. Brent also collaborates with plan sponsors and plan providers to create and conduct a customized education plan that helps employees stay on track for retirement.

    </p>

    <p>
        Brent has more than ten years of experience within the retirement plan industry, including compliance, plan pricing and plan consulting with two top tier retirement plan service providers.

    </p>

    <p>
        Brent earned his MBA from Iowa State University and his BA from Grand View University. He is an Investment Advisor Representative and holds the FINRA Series 6 (Investment Company Products/Variable Contracts Limited Representative), Series 7 (General Securities Representative), Series 24 (General Securities Principal), Series 63 (Uniform Securities Agent State Law Examination) and Series 66 (Uniform Combined State Law Examination) licenses.

    </p>
    <p>
        In his free time, Brent enjoys playing baseball, fishing and watching his daughter participate in sports and activities.

    </p>
{% endblock %}







{% block questions %}

{% endblock %}
{% block first %}
    <h2>Brent Hulbert</h2>



{% endblock %}
{% block last %}
    <h3>Plan Consultant</h3>



{% endblock %}
{% block position %}




{% endblock %}