{% extends 'employee_page/employee.html.twig'%}

{% block bio %}
    <p>
        Travis Chaput joined SRP in 2017 as a Relationship manager in Operations. He Graduated from Central Lakes College in 2011 with a A.A.S Honors Degree in Business Management.

    </p>

    <p>
        Prior to joining SRP, Travis was a Fiduciary Operations Specialist for the Third-Party Administrator Goldleaf Partners. His main responsibilities were to ensure that all operations tasks and deadlines were being met within IRS and DOL requirements. He also acted as a liaison between our Client Relationship Managers and the client themselves. While with Goldleaf Partners, Travis had a hand in many different professional roles. Travis has been a part of retirement transaction processing, compliance testing, 5500 preparations, and ppt notice delivery. He was also responsible for the building and execution of many processes and procedures that Goldleaf still uses to this day. Most recently he spearheaded the movement to create a better call in experience for plan participants.

    </p>

    <p>
        Outside of the retirement world, Travis has a true passion for the theatrical arts. In 2017 he was able to see such productions as; The Bodyguard, Wicked, Aladdin, Finding Neverland, and Waitress, The Musical. When not in the audience, you can find Travis on the stage in different community theater productions. His most recent role was the male lead of Emmett Forest in Legally Blonde, the musical. Travis also serves on the board of directors for the Greater Lakes Area of Preforming Arts. In this role he acts as the Social Media Manager as well as a Marketing Specialist. He is also slated to be a director of the upcoming summer 2019 production.
        While Travis lives in Minnesota, the rest of his family live in the great state of Maine. He hopes to rejoin them someday soon.

    </p>
{% endblock %}

{% block questions %}

{% endblock %}
{% block first %}
    <h2>Travis Chaput</h2>



{% endblock %}
{% block last %}
    <h3>Relationship Manager</h3>



{% endblock %}
{% block position %}




{% endblock %}