{% extends 'employee_page/employee.html.twig'%}

{% block bio %}
    <p>
        As a Managing Director for Strategic Retirement Partners Midwest office, Todd Lohman is charged with the strategy and development. He also works closely with clients, prospects and referral source partners to increase awareness of fiduciary best practices that help to build better retirement plans.

    </p>

    <p>
        Todd joined Strategic Retirement Partners after a 10 year affiliation with 401(k) Advisors. Prior to that, he spent his first his first 15 years in the industry with one of the largest retirement plan service providers in the United States. He now has over 24 years of retirement plan industry experience helping Plan sponsors and employees build better retirement plans. As one who strives to be a thought leader and advocate for the retirement plan community, he was voted as one of the Top 300 “Most Influential Advisors in Defined Contribution” by industry peers.

    </p>

    <p>
        Todd earned his BBA in finance from Iowa State University in Ames, IA. He is an Investment Advisor Representative and holds the FINRA Series 7 (General Securities Representative), Series 63 (Uniform Securities Agent State Law Examination), and Series 65 (Uniform Investment Adviser Law Examination) licenses.

    </p>

    <p>
        On a personal side, Todd is an avid outdoorsman. He enjoys spending time outdoors and traveling with his wife and three children.

    </p>
{% endblock %}





{% block questions %}

{% endblock %}
{% block first %}
    <h2>Todd Lohman</h2>



{% endblock %}
{% block last %}
    <h3>Managing Director, Midwest</h3>



{% endblock %}
{% block position %}




{% endblock %}