{% extends 'employee_page/employee.html.twig'%}

{% block bio %}
    <p>
        John is a Senior Plan Consultant in SRP’s Northeast Office.  He provides ongoing service to clients and counsels them on plan matters, including plan design and compliance, developing and maintaining effective due diligence practices, and meeting their fiduciary responsibilities.  John has over 30 years of experience with qualified and non-qualified plans in the areas of plan design, administration, testing, investments, and participant communications. Prior to joining SRP, John was a trust officer and retirement plan manager for Citizens Bank, Bank of America, and Fleet Bank.  John began his career working in various client service and retirement investment product roles at The Travelers Insurance Company.

    </p>

    <p>
        John holds the Series 7 license (General Securities Representative) and Series 66 license (Uniform Combined State Law).  He is a graduate of Bates College with Bachelor of Arts degrees in Mathematics and Economics.

    </p>

    <p>
        John served as a board members of Hattie Ide Chaffee Home for two years and as a youth sports coach for nine years.  He and his wife live in Barrington, Rhode Island.

    </p>
{% endblock %}



{% block questions %}

{% endblock %}{% block first %}
    <h2>John Brosnan</h2>



{% endblock %}
                {% block last %}
                    <h3>Senior Plan Consultant</h3>



                {% endblock %}
                {% block position %}




                {% endblock %}