{% extends 'employee_page/employee.html.twig'%}

{% block bio %}
    <p>
        Ed is responsible for servicing clients as well as growing the firm’s practice in the Great Lakes region. Utilizing his 25+ years of industry experience, Ed serves as a trusted advisor in assisting clients with their retirement plan design, maximizing funding capabilities, and implementing fiduciary/investment due diligence best practices within their retirement plans.

    </p>

    <p>
         Ed also focuses on providing wealth management, investment, and insurance services to company owners/executives, individuals and high net worth families. Embracing an "Integrated Team Approach," he works closely with clients’ trusted advisors, to provide highly personalized financial advice/planning, investment management, insurance, and estate planning services to his clients.

    </p>

    <p>
         Prior to joining Strategic Retirement Partners, Ed worked over two decades in commercial/investment/private banking areas at American National Bank, Lehman Brothers, The Bensman Group, First Midwest Bank and American Chartered Bank, providing personal/business advisory services to growing middle market companies, and their senior management teams.

    </p>

    <p>
         Ed is a graduate of Indiana University and DePaul University (MBA). He is a Certified Public Account (CPA), Certified Financial PlannerTM (CFP®) and an Accredited Investment Fiduciary (AIF®). Ed holds his Series 65 (Uniform Investment Adviser Law Examination), 7 (General Securities Representative) and 63 (Uniform Securities Agent State Law Examination) and state insurance licenses.

    </p>

    <p>
         Ed’s community involvement includes Membership/Volunteering in Chicago organizations  including PAWS, Big Brothers/Big Sisters, Chicago Marathon, and Greater Chicago Food Depository.  Ed resides in the Chicago area and proud dad to his two older sons, Matt and Mike. He is an avid runner, and also enjoys travel, golf, snow skiing, coaching and a commitment to life-long learning.

    </p>
{% endblock %}


{% block questions %}

{% endblock %}
{% block first %}
    <h2>Ed Kollada</h2>



{% endblock %}
{% block last %}
    <h3>Senior Financial Advisor</h3>



{% endblock %}
{% block position %}




{% endblock %}