{% extends 'employee_page/employee.html.twig'%}

{% block bio %}
    <p>
        Chris is currently pursuing his Bachelor’s of Science in Computer Science from the University of Illinois at Chicago (UIC). He is a part of UIC’s ACM (Association of Computing Machinery) branch and is active in excursions, events, and meetings hosted by group. He joined the SRP team in the summer of 2017 and is focusing on the CRM platform.

    </p>

    <p>
        His first job was working at Five Guys as a griller and food prep. After moving to the city for school, he found himself working at another restaurant named Big G’s; clearly he can’t stray far from a kitchen. After a year of working there he began using his programming knowledge to develop an app that helps the store manage and streamline some of their data.

    </p>

    <p>
        Apart from the computer programming languages Chris knows, he also is a native Polish speaker. He learned English early on in kindergarten, and took Spanish classes for a number of years as well as worked alongside Spanish speakers which helped him learn the language. Now, he is trilingual. He aspires to learn Italian, Russian, and Japanese next but wishes to learn every possible language he can.

    </p>

    <p>
        Chris currently resides in the Tri-Taylor area in Chicago, IL. When he is not in school or working he enjoys weight lifting, soccer, and video games. Anything with a competitive nature, really.

    </p>
{% endblock %}




{% block questions %}

{% endblock %}
{% block first %}
    <h2>Chris Janowski</h2>



{% endblock %}
{% block last %}
    <h3>IT Specialist</h3>



{% endblock %}
{% block position %}




{% endblock %}