{% extends 'employee_page/employee.html.twig'%}

{% block bio %}
    <p>
        My first job in this industry was with a large retirement plan provider in Minneapolis, MN. I worked first with participants and then with employers—our clients were large, mostly Fortune 100 companies. After returning to my hometown so my husband could pursue his PhD, I took a position with an accounting firm in a Third Party Administrator role. I worked with small to medium sized business clients and financial advisors with all aspects of retirement plan administration. My most recent position was as a Senior Consultant with a bundled provider. I served as a resource for clients, helping with plan design and compliance for 401(k) and Pension plans. Finally able to put clients first, I am grateful that I could transition to my current position as a Relationship Manager at Strategic Retirement Partners in 2015.


    <p>
        I hold a B.A. degree in Journalism from the University of Wisconsin, Madison. I earned both my Qualified 401(k) Administrator (QKA) credential and Qualified Pension Administrator (QPA) credential from the American Society of Pension Professionals and Actuaries (ASPPA) and have been an active member of ASPPA since 2007.
    </p>

    <p>
        I am here to help you. I want your plan to work for you and your employees. I want you to be able to understand how it works and that it can be a valuable benefit for your employees. But the technical aspects (and acronyms!) are for us to understand and translate for you. And there are no stupid questions when it comes to retirement plans. The rules are constantly changing, it’s a lot to keep up with—and that’s why you hire us.
    </p>

    <p>
        I enjoy cheering on the Wisconsin Badgers and Green Bay Packers with my husband, son and daughter. I love to travel, bike, hike, and downhill ski. I participate in and support: Madison Polar Caps Hockey, Girls Scouts of America, Regent Soccer, Madison Ballet and Madison Youth Choirs. I’m currently serving as the President of a local Retirement Plan group called Madison Benefits Council.
    </p>
{% endblock %}


{% block questions %}

{% endblock %}
{% block first %}
    <h2>Gretchen Nagle</h2>



{% endblock %}
{% block last %}
    <h3>Relationship Manager</h3>



{% endblock %}
{% block position %}




{% endblock %}