{% extends 'employee_page/employee.html.twig' %}

{% block bio %}
    <p>
        Megan Blackmer is the Director of Client services for Strategic Retirement Partners. She has worked in the
        financial services industry for nearly 20 years.
    </p>
    <p>Megan’s career has taken her through companies big and small and given her exposure to many sides of the
        financial services industry. Prior to joining SRP, she worked with Principal Financial Group where she worked
        closely with plan sponsors and plan participants to design and implement plan communications and education
        strategies. Prior to that, Megan worked in internal sales for a mutual fund company and held home office
        positions
        in a regional brokerage firm.
    </p>
    <p>In all of her positions, key responsibilities have been communication, relationship development and relationship
        management. Every day she looks forward to using these skills to help SRP’s clients and their employees strive
        to
        achieve their retirement goals.
    </p>
    <p>When she isn’t working, Megan can be found running, cooking, entertaining her friends and family, and cheering on
        her three kids in their sports and activities.
        Megan, her husband and three children reside in Libertyville, Illinois.
    </p>
{% endblock %}


{% block questions %}

{% endblock %}{% block first %}
    <h2>Megan Blackmer</h2>



{% endblock %}
{% block last %}
<h3>Director, Client Service</h3>



{% endblock %}
{% block position %}




{% endblock %}