{% extends 'employee_page/employee.html.twig'%}

{% block bio %}
    <p>
        As the President of The Vogt Group, Larry Vogt brings more than thirty years of experience in group retirement plans and employee benefit plans.  He was Vice President of the Life and Pension division for 14 years at a brokerage and third party administrator located in Dubuque, IA.  He has extensive experience assisting clients with the structure of retirement plans, life and disability programs and provides strategic benefit consulting services.

    </p>

    <p>
        Larry is an active member of his community formerly on the board of Luther Manor Nursing Home and the Iowa State University College of Business Economic Alliance Board.  Education:  Larry has a Bachelor’s degree in Marketing and Finance from Iowa State University.

    </p>


{% endblock %}

{% block questions %}

{% endblock %}
{% block first %}
    <h2>Larry Vogt</h2>



{% endblock %}
{% block last %}
    <h3>New Business Development</h3>



{% endblock %}
{% block position %}




{% endblock %}