{% extends 'employee_page/employee.html.twig'%}

{% block bio %}
    <p>
        Jamie is a Founder, Managing Director and investment advisor in Strategic Retirement Partners’ Northeast Office. Jamie has built a successful retirement plan team and practice over the last 20+ years through his passion for helping plan sponsors reduce fiduciary liability and offer competitive, affordable retirement benefits, while helping individuals save, plan, and invest wisely. Jamie has been recognized by PLANSPONSOR Magazine as "Retirement Plan Adviser of the Year" and a "Top 100 Retirement Plan Adviser", and by The Financial Times, Institutional Investor News, and 401kwire as one of the country’s most influential retirement plan advisors.

    </p>

    <p>
        Jamie is a frequent speaker and industry commentator for professional, association, and industry groups. He has been quoted in The Wall St. Journal, PLANSPONSOR / PLANADVISOR Magazines, Defined Contribution & Savings Plan Alert and in local media.

    </p>

    <p>
        Prior to SRP, Jamie founded GPS Investment Advisors, worked at Financial Architects Partners and John Hancock Investments.  Jamie completed training and coursework through the The PLANSPONSOR Institute and earned the PLANSPONSOR Retirement Professional (PRP) designation. He is a graduate of Moses Brown, Connecticut College, Suffolk University Law School, and Goldman Sachs’ 10,000 Small Businesses program. Jamie's community involvement has included San Miguel School, being a Rhode Island Commodore, serving on the Investment Committees of Neighborhood Health Plan of RI, Blithewold, and The Providence Children's Museum, and serving as a lay representative of the Episcopal Diocese of RI Commission on Finance. He coached all three of his children in youth lacrosse and soccer. Jamie and his family live in Providence, RI.

    </p>
{% endblock %}


{% block questions %}

{% endblock %}
{% block first %}
    <h2>Jamie Worrel</h2>



{% endblock %}
{% block last %}
    <h3>Managing Director, Northeast</h3>



{% endblock %}
{% block position %}




{% endblock %}