{% extends 'employee_page/employee.html.twig'%}

{% block bio %}
    <p>
        Catarina joined Strategic Retirement Partners in 2015 and has a wide range of responsibilities from general office management to client relationship management and operational support. Her role includes daily contact with plan sponsors and participants, recordkeepers, TPAs, fund companies and other industry professionals.

    </p>

    <p>
        Previous experience includes working as a Senior Planning Assistant for over 15 years assisting financial advisors and their clients in any way necessary. She has extensive experience in private wealth management and practice management.

    </p>

    <p>
        In her free time, Catarina enjoys reading, music, the beach and spending time with her husband and daughter.

    </p>
{% endblock %}


{% block questions %}

{% endblock %}
{% block first %}
    <h2>Cat Totten</h2>



{% endblock %}
{% block last %}
    <h3>Relationship Manager</h3>



{% endblock %}
{% block position %}




{% endblock %}