{% extends 'employee_page/employee.html.twig'%}

{% block bio %}
    <p>
        Kate joined Strategic Retirement Partners in 2016 and is is the Relationship Manager, Operations for SRP’s Michigan and Ohio/Kentucky offices. She creates positive experiences for our clients and works hand in hand with plan administrators, committee members and other client touchpoints. She oversees operational planning, workflow prioritization and office management. Kate also assists in fiduciary auditing and compliance recordkeeping. She has also been instrumental in helping design Participant Education games, prizes and materials.  Ask her about her “Plan Jeopardy” game or “Plan Trivia” games- these games have helped make participant education in Michigan more fun and much more memorable!

    </p>

    <p>
        Kate has spent close to a decade working with Retirement Plan Advisors and Wealth Managers, but her greatest accomplishment is her three children- one through college, one in college and one about to enter college.  She holds a Bachelor of Arts in Finance from Canisius College.

    </p>

    <p>
        Kate Lives in Canton, Michigan with her husband and 3 children. She enjoys playing intramural volleyball and baking in her free time.

    </p>
{% endblock %}

{% block questions %}

{% endblock %}
{% block first %}
    <h2>Kate Shaver</h2>



{% endblock %}
{% block last %}
    <h3>Relationship Manager</h3>



{% endblock %}
{% block position %}




{% endblock %}