{% extends 'employee_page/employee.html.twig'%}

{% block bio %}
    <p>
        Karen started with SRP in December 2016. She currently provides support for Plan Sponsors, Participants, Record-keepers, TPA’s, fund companies, and other industry professionals.

    </p>

    <p>
        Karen lives in Williamsburg, Virginia with her husband and two children but is originally from North Carolina. She loves to spend time with her family and friends at the beach or around a fire. In her spare time, she enjoys conducting science projects with her kids, reading and writing, and relaxing on the beach.

    </p>
{% endblock %}


{% block questions %}

{% endblock %}
{% block first %}
    <h2>Karen Hagerman</h2>



{% endblock %}
{% block last %}
    <h3>Relationship Manager</h3>



{% endblock %}
{% block position %}




{% endblock %}