{% extends 'employee_page/employee.html.twig' %}

{% block bio %}
    <p>
        Cheryl L. Castillo is a Relationship Manager, Operations for Strategic Retirement Partners-Wisconsin. She has
        spent the last 30 plus years in the financial services industry.

    </p>

    <p>
        She has held varying positions, mainly within the area of the Private Client and Wealth Management sector. With
        the last six years, working with Financial Planners and Investment Advisors. Currently, as a Subject Matter
        Expert in account creation and documentation management.

    </p>

    <p>
        In a managerial and operational capacity, Cheryl has worked closely with business owners and corporate
        executives, delivering the ultimate client experience with her organizational skills and attention to detail.
        Cheryl, her husband and step-daughter reside in Greenfield, Wisconsin.

    </p>
{% endblock %}



{% block questions %}

{% endblock %}
{% block first %}
    <h2>Cheryl Castillo</h2>



{% endblock %}
{% block last %}
    <h3>Relationship Manager</h3>



{% endblock %}
{% block position %}




{% endblock %}