{% extends 'employee_page/employee.html.twig'%}

{% block bio %}
    <p>
        Kelly Majdan is the Managing Director for Strategic Retirement Partners covering the Arkansas and Southern Missouri area.  With over 22 years of financial services experience, Kelly has worked on all sides of the corporate retirement world.  From corporate administration to mutual fund and record keeper sales teams, to most recently with a bank trust department, this vast experience has provided her with a unique insight into how retirement plans truly operate.

    </p>

    <p>
        Kelly specializes in helping her clients navigate the complex world of retirement plan benefits by focusing on sound Fiduciary Best Practices, Investment Due Diligence processes, retirement plan design, and participant education.

    </p>

    <p>
        She has also been invited to Capitol Hill to listen and advise top Congressional leaders about the future of the retirement savings industry and how proposed laws and regulations could affect American workers’ retirement security.

    </p>

    <p>
        She received her Bachelor of Arts degree in Accounting from Fort Lewis College in Durango, Colorado and received her Masters of Business Administration (MBA) from Regis University in Denver, Colorado.  She holds the Accredited Investment Fiduciary (AIF®), Qualified Plan Financial Consultant (QPFS®), and the Chartered Retirement Plan Specialist (CRPS®) designations and has completed the Dave Ramsey Financial Counselor Training Program.

    </p>

    <p>
        Kelly, her husband, and two children reside in Northwest Arkansas.  With two very active children, she spends much of her time volunteering at their school and athletic activities.  She is also a Girls on the Run Coach and enjoys participating in obstacle course challenges with her husband and children.

    </p>
{% endblock %}

{% block questions %}

{% endblock %}
{% block first %}
    <h2>Kelly Majdan</h2>



{% endblock %}
{% block last %}
    <h3>Managing Director, Arkansas & Southern Missouri</h3>



{% endblock %}
{% block position %}




{% endblock %}