{% extends 'employee_page/employee.html.twig'%}

{% block bio %}
    <p>
        Deane has spent the last 30+ years has been actively engaged in the insurance, financial services, recordkeeping and retirement planning world.  During that time, she has held numerous executive level leadership positions responsible for Corporate Operations and Strategy, Board Relations, Communications and Planning, Information Technology, Sales & Marketing, Human Resources, Customer Service and Corporate Administration.

    </p>

    <p>
        While her background touches almost every part of an organization, if you ask Dee what she is the most passionate about, it is the implementation of corporate strategy internally and externally. She has built SRP’s organizational chassis by hiring some of the most talented operational staff in the industry, applying best practices, and implementing common processes, with a goal of freeing up the organization’s advisors to focus on what they are good at, servicing their retirement plan clients. By working closely with corporate executives, board members, business owners and staff, Dee leadership has resulted in dramatic revenue growth, service, organizational and talent efficiencies.

    </p>

    <p>
        Outside of the office, you will find Dee doing what she loves the most spending time with her husband and three children sailing, cooking, entertaining or cheering on her beloved Green Bay Packers.

    </p>
{% endblock %}

{% block questions %}




{% endblock %}
{% block first %}
    <h2>Deane Mayerhofer</h2>



{% endblock %}
{% block last %}
    <h3>Chief Operating Officer</h3>



{% endblock %}
{% block position %}




{% endblock %}