{% extends 'employee_page/employee.html.twig'%}

{% block bio %}
    <p>
        Steve is a Managing Director for Strategic Retirement Partners in the Northern California office. He is responsible for developing retirement plan consulting services for new and existing clients in the areas of fiduciary guidance, employee education and overall program satisfaction.

    </p>

    <p>
        Prior to joining Strategic Retirement Partners, Steve was affiliated with 401(k) Advisors and he was a founding partner at Ascent Wealth Management Group, LLC.

    </p>

    <p>
        A graduate of the California State University, Chico Steve earned a B.S. in Business Administration – Strategic Management. He has completed the Accredited Investment Fiduciary® program at Wharton West in 2012. He is an investment advisor representative and has passed the FINRA Series 7 (General Securities Representative), Series 66 (Uniform Combined State Law Examination) and Series 24 (General Securities Principal).

    </p>

    <p>
        When Steve is not helping clients prepare for retirement, he enjoys spending time with his family and travelling. Steve resides in Redwood City, CA with his wife, son and daughter.

    </p>
{% endblock %}





{% block questions %}

{% endblock %}
{% block first %}
    <h2>Steven Faggiolly</h2>



{% endblock %}
{% block last %}
    <h3>Managing Director, Northern California</h3>



{% endblock %}
{% block position %}




{% endblock %}