{% extends 'employee_page/employee.html.twig'%}

{% block bio %}
    <p>
        I started my career in Financial Services with Lehman Brothers, training to become a stock broker in 1990.  I soon realized that the boiler room nature of the job was not for me as it was broker focused and not client focused.  This led me to search for a way to serve clients as opposed to selling them, leading me to Northwestern Mutual and Robert W. Baird.  There I developed a client centric practice and gravitated to working with retirement plans.  In 2002 I started my own practice specializing in the needs of 401(k) clients. Today, as Managing Director for the state of Wisconsin, I focus exclusively on providing Total Retirement Plan Solutions to our clients.
    </p>

    <p>
        Today, we understand the importance of “Financial Wellness” in our employees lives, and the positive impact that financial security and knowledge can have.  It is important to move beyond the “Fees, Funds, Fiduciary” conversation of yesterday, and really focus on what makes a good plan great.  No longer are retirement plans just another offering, but instead they form the bedrock of a well-crafted benefit package.  Our process helps to design, implement and measure the progress of their plan to achieve “success” as they define it.

    </p>

    <p>
        I hold a B.S. in History from Northern Illinois University.  While a history major may not seem destined for the financial world, I believe that it prepared me to ask questions, research solutions and clearly communicate complex topics.  I hold an Accredited Investment Fiduciary designation through the Center for Fiduciary Studies and was selected as one of the Top 300 “Most Influential Advisors in Defined Contribution” by industry peers.  I maintain a course of continuous study to keep abreast of trends and tools to better serve my clients.
    </p>

    <p>
        My mission is working with clients, plan sponsors and participants alike, helping move people from work to retirement in a dignified manner.  I know that if an employee retires early or on time, they are happy and so is their employer.  Efficient and effective retirement plans are good for employees and businesses alike.

    </p>

    <p>
        I am a husband, a father of two sons, a church choir member and an avid traveler in search of the next amazing experience and culinary adventure.  I enjoy volunteering my time and treasure to worthy causes.
    </p>
{% endblock %}


{% block questions %}

{% endblock %}
{% block first %}
    <h2>Greg Gavran</h2>



{% endblock %}
{% block last %}
    <h3>Managing Director, Wisconsin</h3>



{% endblock %}
{% block position %}




{% endblock %}