{% extends 'employee_page/employee.html.twig'%}

{% block bio %}
    <p>
        Fritz has been an advisor and consultant with Strategic Retirement Partners since its inception. He has over 15 years of experience in individual and retirement plan consulting. Through group and individual meetings, Fritz assists plan participants in achieving their retirement goals. Prior to joining SRP, Fritz had his own advisory business, Block Financial Group.

    </p>

    <p>
        Fritz is a graduate of the State University of New York at Buffalo. He is an investment advisor representative and holds the following licenses: FINRA Series 6 (Investment Company and Variable Contracts Products Representative), FINRA Series 63 (Uniform Securities Agent State Law), FINRA Series 65 (Uniform Investment Adviser Law). Fritz also is licensed to sell life insurance and annuities.

    </p>

    <p>
        Fritz resides in Virginia Beach with his wife and two children. He enjoys volunteering and coaching
        various sports at his children’s school. In his spare time, he enjoys being on the golf course.
    </p>
{% endblock %}


{% block questions %}

{% endblock %}{% block first %}
<h2>Fritz Block</h2>



{% endblock %}
                {% block last %}
<h3>Senior Plan Consultant</h3>



                {% endblock %}
                {% block position %}




                {% endblock %}