{% extends 'employee_page/employee.html.twig'%}

{% block bio %}
    <p>
        I took the road less traveled to SRP. I started out my adult life as an Officer and Optometrist in the US Navy. While in the Navy I continued to follow my passion of Economics and Finance, and completed a Masters of Economics with an International and Managerial Emphasis.  Upon completion of 2 tours and a promotion to Lieutenant Commander I decided to leave the Navy and Optometry to pursue my passions of Economics and Finance. Upon leaving the Navy I joined R. Meeder and Associates, now Meeder Investment, as an assistant to the Portfolio Manager. From there I worked my way up to Equity Analyst, Portfolio Manager and eventually Chief Investment Officer. I left Meeder for a time and taught Economics and Finance at a couple of Central Ohio Universities and worked as a Portfolio Manager at a competing firm, but eventually returned to Meeder. While at Meeder I was working on come projects that caught the eye of SRP, and left Meeder to become the CIO of SRP.

    </p>

    <p>
        I try to build/select portfolios using the efficiency frontier as my guide in an effort to maximize the return per unit of risk. I also use my economics background to put the portfolios in context of the current economic, geopolitical and demographic trends. The ultimate goal or retirement investing isn’t to hit the homeruns, but to consistently get to first base time and time again as one approaches retirement.

    </p>

    <p>
        I tripled majored in Finance, Economics and Pre-Optometry and graduated Magna Cum Laude from Miami University with B.S. in Business. After Miami I attended The Ohio State University College of Optometry and received an O.D. While in the US Navy I attended the University of Oklahoma and received a Masters of Economics with an International and Managerial Emphasis, graduating with a 4.0 GPA. In 2001 I was awarded a CFA Charter. Professionally I’ve worked for a pioneer in the fund of fund management concept, and have had the good fortune of working for smaller firms which has allowed me to gain experience across the spectrum of financial management products. My forte is solving complex problems using the computer, which has allowed me to work as much in financial operations as I have in portfolio management.

    </p>

    <p>
        I’ve drank exactly 0 cups of coffee in my life. I am a naturally energetic and passionate person, and have made my career choices based upon what I love doing. My career is truly an expression of who I am. I get up every morning excited to discover what is happening in the markets and the economy, and often wake up having discovered a solution to a difficult problem in my sleep. My family, my job and wanting to life to the fullest gets me up in the Morning…no need for caffeine.

    </p>

    <p>
        I’m a Father, a Husband, a Coach, a Teacher, a CIO, a Portfolio Manager, a Volunteer. I spend many lunches doing recess duty at my son’s school. My hobbies are bike riding, weight lifting, hiking and computers. Most of my time away from work is spent training my son in basketball, baseball and football, or watching one of his games.

    </p>
{% endblock %}


{% block questions %}

{% endblock %}
{% block first %}
    <h2>Bob Wagner</h2>



{% endblock %}
{% block last %}
    <h3>Chief Investment Officer</h3>



{% endblock %}
{% block position %}




{% endblock %}