{% extends 'employee_page/employee.html.twig'%}

{% block bio %}
    <p>
        As Managing Director at Strategic Retirement Partners, Lisa manages the growth and service of retirement plan consulting in Upstate New York. She serves as a trusted advisor to help clients manage the fiduciary responsibilities associated with qualified plans. Lisa focuses on education; which she believes can empower both plan fiduciaries and plan participants to make better decisions that drive better outcomes.

    </p>

    <p>
        Lisa began her career as a business resource coordinator for a financial services agency, serving as a retirement plan specialist for a team of 65 advisors in upstate New York. In 2015, Lisa joined Walsh Duffield Companies, Inc. to manage their retirement division.

    </p>

    <p>
        She gives back to the Buffalo and Western New York community through her membership with the Junior League of Buffalo and as Big Sister with Big Brothers Big Sisters of Erie County. Lisa serves on the Advisory Board for the Hamburg High School Academy of Finance and on the Ambassador Committee at Child & Family Services. Lisa is a 2016 graduate of Leadership Buffalo.

    </p>

    <p>
        Lisa graduated from State University of New York at Buffalo with a Bachelor of Arts degree in business administration. She is an alumnus of Alpha Kappa Psi, Co-ed Professional Business Fraternity. In 2014, Lisa earned the Retirement Income Certified Professional® designation from The American College. In 2017, she earned the Certified Plan Fiduciary Advisor designation from the National Association of Plan Advisors. Lisa was named Top Advisor by Participant Outcomes in June 2017 by 401(k) Specialist Magazine.

    </p>

    <p>
        Lisa lives in Tonawanda with her husband Kevin and their daughters Cecelia & Lucille.

    </p>
{% endblock %}

{% block questions %}

{% endblock %}
{% block first %}
    <h2>Lisa Petronio</h2>



{% endblock %}
{% block last %}
    <h3>Managing Director, Upstate New York</h3>



{% endblock %}
{% block position %}




{% endblock %}