{% extends 'employee_page/employee.html.twig'%}

{% block bio %}
    <p>
        Sarah leads the marketing efforts for Strategic Retirement Partners with responsibility for brand management, media relations, advertising, sponsorships, and events. She brings over 16 years of experience working with both qualified and non-qualified retirement plans. This industry experience positions Sarah to understand and guide the unique marketing needs of a retirement plan consulting services firm.

    </p>

    <p>
        Prior to taking on the Director of Marketing role, Sarah served as a Senior Plan Consultant for Strategic Retirement Partners, worked as a Client Relationship Manager for Transamerica, and lead a service team for a regional consulting firm.  She holds the Accredited Retirement Plan Consultant (ARPC) designation through the Society of Professional Asset-Managers and Record Keepers (SPARK).  She is also a registered representative with FINRA Series 7 (General Securities Representative), Series 24 (General Securities Principal), and Series 63 (Uniform Securities Agent State Law) licenses.

    </p>

    <p>
        Sarah, her husband, and daughter reside in Stanford, Illinois where she enjoys camping, kayaking, and crafts.

    </p>




{% endblock %}


{% block questions %}

{% endblock %}
{% block first %}
    <h2>Sarah Hughes</h2>



{% endblock %}
{% block last %}
    <h3>Director of Marketing</h3>



{% endblock %}
{% block position %}




{% endblock %}