{% extends 'employee_page/employee.html.twig'%}

{% block bio %}
    <p>
        As the Managing Director for Strategic Retirement Partners in Oklahoma, Mark has extensive experience in delivering process-driven solutions to help protect employers from corporate and personal financial liability, while striving to provide plan participants a path to a successful retirement.

    </p>

    <p>
        For over 25 years Mark has worked with retirement plan sponsors and plan participants with a passion to provide fiduciary oversight and sound investment guidance to position participants for long-term retirement success.

    </p>

    <p>
        Mark’s career started with Principal Financial Group in Des Moines with stops in Chicago, Atlanta and Tulsa.  After 13 years with Principal, he accepted a Retirement Consultant position with a regional advisory firm and then in 2004, Mark founded Forbes Financial Group.  In 2016, he entered into a partnership with SRP.

    </p>

    <p>
        Mark earned his BBA from Drake University, Des Moines, IA.  He holds the Series 7 (General Securities Representative), Series 63 (Uniform Securities Agent State Law Examination) and Series 66 (Uniform Combined State Law Examination) and is an Investment Advisor Representative with Kestra Advisory Services, LLC.

    </p>

    <p>
        Mark holds the C(k)P designation, Certified 401(k) Professional, from The Retirement Advisor University at UCLA Anderson School of Management Executive Education, in Los Angeles.

    </p>

    <p>
        Mark’s wife works as a Group Benefits Consultant and they have 2 children.  He is actively involved in coaching youth sports teams. When he finds free time he enjoys playing golf, biking, spending time with his family and following his favorite sports teams.  Mark served on the on the Board of Directors at the Oklahoma Aquarium from 2008-2013.

    </p>
{% endblock %}







{% block questions %}

{% endblock %}
{% block first %}
    <h2>Mark Forbes</h2>



{% endblock %}
{% block last %}
    <h3>Managing Director, Oklahoma</h3>



{% endblock %}
{% block position %}




{% endblock %}