{% extends 'employee_page/employee.html.twig'%}

{% block bio %}
    <p>
        Shannon has more than 20 years of consulting, investment and retirement plan experience. Shannon has worked for several well-known institutional financial service firms over the last twenty years, and is a founder of Strategic Retirement Partners.

    </p>

    <p>
        Shannon works with business owners, delivering quality retirement plan solutions and most importantly making a positive impact on client, plan and participant outcomes. She is an advocate for her clients working on their behalf with service providers, Third Party Administrators (TPAs), investment managers and other parties such as the Department of Labor and IRS.

    </p>

    <p>
        Shannon has experience working with qualified plans of all types (SIMPLE 401(k)s, 401(k)s, 403(b)s, 401(a)s, Employee Stock Ownership Plans (ESOPs), Pension Plans (active, frozen and cash balance plans) and nonqualified plans). She has extensive experience in working with plans of all sizes.

    </p>

    <p>
        She is the National Practice Leader for ESOPs and Defined Benefit Plans and helps SRP provide strategic and tactical consulting for these plans

    </p>

    <p>
        She is a graduate of the University of Michigan and a veteran of the US Army (Desert Storm, Germany, Italy). She has earned her CEBS (Certified Employee Benefits Specialist) designation. Shannon holds her Series 65 (Uniform Investment Adviser Law Examination), 7 (General Securities Representative) and 63 (Uniform Securities Agent State Law Examination) FINRA licenses and life insurance license. She is happily married to David and has two daughters, Molly and Kelsey.

    </p>
{% endblock %}


{% block questions %}

{% endblock %}
{% block first %}
    <h2>Shannon Maloney</h2>



{% endblock %}
{% block last %}
    <h3>Managing Director, Michigan. National Practice Leader DB & ESOPs</h3>



{% endblock %}
{% block position %}




{% endblock %}