{% extends 'employee_page/employee.html.twig'%}

{% block bio %}
    <p>
        Jennifer has over 20 years of experience working with employers sponsoring both qualified and non-qualified retirement plans. Jennifer’s experience in the industry positions her to assist employers in identifying their unique retirement plan objectives, and aligning plan design and administration to maximize the specific goals. She is passionate about preparing participants for retirement through on-going education and plan design solutions with measurable results.
    </p>

    <p>
        Jennifer takes a consultative approach with her clients to establish best practices, conducting thorough committee meetings, and assisting employers in acting in the best interest of the plan participants to manage fiduciary obligations.
    </p>

    <p>
        Prior to joining our team Jennifer worked with several vendors in the retirement industry as a Senior Relationship Manager along with leading a team of Retirement Consultants. She holds the Accredited Retirement Plan Consultant (ARPC) designation through the Society of Professional Asset-Managers and Record Keepers (SPARK). She is also a registered representative with FINRA Series 6 (Investment Company Products/Variable Contracts Limited Representative) and Series 63 (Uniform Securities Agent State Law Examination) licenses.
    </p>

    <p>
        Jennifer is a board member with Rainbows for All Children, an organization dedicated to providing support for youth as they navigate grief and heal from loss or trauma.  Jennifer along with her husband and son reside in Chicago, Illinois.
    </p>
{% endblock %}





{% block questions %}

{% endblock %}

{% block first %}
<h2>Jennifer Dumas</h2>
{% endblock %}

{% block last %}
<h3>Director of Operations</h3>
{% endblock %}

{% block position %}
    <h4>contact</h4>
{% endblock %}