{% extends 'employee_page/employee.html.twig'%}

{% block bio %}
    <p>
        Jacqui Hendricks joined SRP in 2017 as a Relationship Manager in Operations.   She graduated from the University of Illinois in 2014 with a Bachelors in Consumer Economics.  While in college, Jacqui was the President of the InSPIRE club, an ambassador for foreign exchange students, and a participant in various staff selected leadership forums.

    </p>

    <p>
        Prior to joining SRP, Jacqui was an Operations Lead at Coyote Logistics, where she was responsible for maintaining client relations, developing standard operating procedures, and leading a team to achieve monthly sales goals.  In her previous role she was awarded numerous operational excellence awards for her diligent attention to detail and unwavering dedication to the customer experience.

    </p>

    <p>
        Jacqui is a passionate traveler.  In the past year, Jacqui has been to: Germany for Oktoberfest, Austria, France, Hungary, Denver, Phoenix, a road trip along the Pacific Coast Highway, and a 10-day trip to Ireland.  Jacqui’s favorite place to travel to is back home to Chicago to see her family, friends, and dogs - Tucker and Jager.

    </p>

    <p>
        In her free time, Jacqui enjoys traveling, golfing, hiking, and yoga.  Jacqui’s proudest achievement is hitting a hole in one with her beloved Hybrid golf club.  Jacqui currently resides in San Diego, California, which is fitting because she is a taco and sunset enthusiast.

    </p>
{% endblock %}

{% block questions %}

{% endblock %}
{% block first %}
    <h2>Jacqui Hendricks</h2>



{% endblock %}
{% block last %}
    <h3>Relationship Manager</h3>



{% endblock %}
{% block position %}




{% endblock %}