{% extends 'employee_page/employee.html.twig'%}

{% block bio %}
    <p>
        I started out as an employee benefits consultant for Great-West Financial in 1998, managing group health insurance and retirement plans. As the industry became more specialized, I gravitated to the retirement plan space. For 14 years, I represented Great-West and ING as a Vice President of Retirement Plan Sales. In 2010, I wanted to get back to working with clients, and now am the Managing Director of Strategic Retirement Partners.
    </p>

    <p>
        It’s not just investment performance and low fees that drive results, but rather: Are your employees saving enough? Do they have the tools they need to be successful in their retirement years? I’ll help you keep a close eye on fiduciary oversight and manage the risks associated with the plan, and my documented process will help you make informed decisions.

    <p>
    I hold a B.S. degree in finance from the Leeds School of Business at the University of Colorado, Boulder. I am certified as a Global Fiduciary Strategist and have my C(k)P Certified 401(k) Professional designation at The Retirement Advisor University at UCLA Anderson School of Management Executive Education. I am also an Investment Advisor Representative with Kestra Advisory Services, LLC*. In both 2015 and 2016, I received the National Association of Plan Advisor’s award for Outstanding Women in Retirement Plans. One of my most recent accomplishments was being invited to Capitol Hill to listen and advise top Congressional leaders about the future of the retirement savings industry and how proposed laws and regulations could affect American workers’ retirement security.
    </p>

    <p>
        I get excited about seeing what I have accomplished over time with my clients. Improving plan growth rates, participant savings rates, employers’ attitudes towards building successful retirement plans. These are the outcomes that drive me to provide my clients with the best tools and resources. If this were simply a maintenance business, I would be doing something else.
    </p>
{% endblock %}


{% block questions %}

{% endblock %}
{% block first %}
    <h2>Kristen Deevy</h2>



{% endblock %}
{% block last %}
    <h3>Managing Director, Rocky Mountains</h3>



{% endblock %}
{% block position %}




{% endblock %}