{% extends 'employee_page/employee.html.twig'%}

{% block bio %}
    <p>
        Sara is a Plan Consultant in the Great Lakes office. Prior to joining Strategic Retirement Partners, she was a plan consultant affiliated with 401(k) Advisors, and spent 10 years with Principal Financial Group.  While at Principal, she built and maintained relationships with Plan Sponsors and Financial Advisors. She conducted annual fiduciary reviews, quarterly investment meetings, discussed legislative updates and coordinated education messages. She helped plan sponsors with strategic planning, such as plan design enhancements and compliance testing solutions.  

    </p>

    <p>
        Sara graduated from Northern Illinois University with a degree in Business Administration, and got her MBA in Economics from DePaul University. She is an Investment Advisor Representative, and has passed the Series 7 (General Securities Representative), Series 63 (Uniform Securities Agent State Law Examination) and Series 65 (Uniform Investment Adviser Law Examination) exams.

    </p>

    <p>
        Out of the office, you can find Sara on the tennis court, cheering on her children at their sporting events, or spending time with family and friends.  She resides in Summerfield, NC with her husband and three children.

    </p>
{% endblock %}


{% block questions %}

{% endblock %}
{% block first %}
    <h2>Sara Strasser</h2>



{% endblock %}
{% block last %}
    <h3>Education Specialist</h3>



{% endblock %}
{% block position %}




{% endblock %}